<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Courses | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%>
  <!-- slick css -->
  <link rel="stylesheet" href="/assets/css/slick.min.css" />
  <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
  <%- include("/_components/styles") -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <!-- courses banner section -->
  <section class="bg-gradient py-5 top-margin">
    <div class="container py-5">
      <h1 class="text-center display-3 text-light">
        আমাদের কোর্সসমুহ
      </h1>
      <h2 class="text-center text-white">
        ভাষা শিক্ষার Alphabets উচ্চারন থেকে শুরু করে সাবলীলভাবে বলা পর্যন্ত
        প্রতিটি ধাপ সহজ ও আনন্দময় করে তুলতে আমাদের রয়েছে ২০টিরও অধিক কোর্স।
      </h2>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h2 class="h1 text-info">ভাষা স্কুলের কোর্সসমুহঃ</h2>
        <div class="input-group mb-3 w-25 d-none d-md-flex">
          <span class="input-group-text bg-transparent" id="search">
            <img src="/assets/images/search-icon.svg" alt="search icon">
          </span>
          <input type="text" class="form-control border-start-0" placeholder="পছন্দের কোর্সটি বেছে নিন" aria-label="Username" aria-describedby="search" />
        </div>
      </div>
      <div class="justify-content-center gap-5 pt-5 flex-column">
        <!-- // nav pill  -->
        <ul class="nav nav-pills mb-5 justify-content-md-center justify-content-start" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active px-md-5" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              <h4 class="mb-0">
                Basic English
              </h4>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link px-md-5" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              <h4 class="mb-0">
                IELTS প্রিপারেশন
              </h4>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link px-md-5" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
              <h4 class="mb-0">
                Kid's English
              </h4>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link px-md-5" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">
              <h4 class="mb-0">
                Foreign Language কোর্স
              </h4>
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-none d-md-flex">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="IELTS প্রিপারেশন" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS প্রিপারেশন
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course duration">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৫,০০০</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ৬,০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="#" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/be.jpg" class="card-img-top rounded-top-5" alt="Basic English" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Basic English
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৬,৪০০</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ৯,০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/basic-english/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/spoken.jpg" class="card-img-top rounded-top-5" alt="দুর্দান্ত Spoken" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      দুর্দান্ত Spoken
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৩ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">১৭টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৫,০০০</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/durdanta-spoken/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/writing.jpg" class="card-img-top rounded-top-5" alt="তুখোড় Writing" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      তুখোড় Writing
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৩ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">১৭টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৫,০০০</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/tukhor-writing/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-group py-5 courses d-md-none d-block">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="IELTS প্রিপারেশন" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS প্রিপারেশন
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="#" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/be.jpg" class="card-img-top rounded-top-5" alt="English মাস্টারক্লাস" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      English মাস্টারক্লাস
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/basic-english/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/spoken.jpg" class="card-img-top rounded-top-5" alt="দুর্দান্ত Spoken" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      দুর্দান্ত Spoken
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/durdanta-spoken/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/writing.jpg" class="card-img-top rounded-top-5" alt="তুখোড় Writing" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      তুখোড় Writing
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/tukhor-writing/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-none d-md-flex">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="জিরো টু IELTS হিরো" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      জিরো টু IELTS হিরো
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span>
                        <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/zero-ielts-hero/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="IELTS হিরো" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS হিরো
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/ielts-hero/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/mock.jpg" class="card-img-top rounded-top-5" alt="IELTS Mock Tests" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS Mock Tests
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="#" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/writing.jpg" class="card-img-top rounded-top-5" alt="তুখোড় Writing" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      তুখোড় Writing
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/tukhor-writing/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-group py-5 courses d-block d-md-none">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="জিরো টু IELTS হিরো" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      জিরো টু IELTS হিরো
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/zero-ielts-hero/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/ielts.jpg" class="card-img-top rounded-top-5" alt="IELTS হিরো" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS হিরো
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/ielts-hero/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/mock.jpg" class="card-img-top rounded-top-5" alt="IELTS Mock Tests" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      IELTS Mock Tests
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="#" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/courses/writing.jpg" class="card-img-top rounded-top-5" alt="তুখোড় Writing" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      তুখোড় Writing
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="/courses/tukhor-writing/" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <h3 class="text-info text-center">
              Coming soon
            </h3>
          </div>
          <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-none d-md-flex">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Korean
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Japanese
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      French
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Arabic
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-none">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Chinese
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn btn-danger rounded-4" href="#" role="button">বিস্তারিত জানুন</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-group py-5 courses d-block d-md-none">
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Korean
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Japanese
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      French
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Arabic
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0 rounded-5 bg-info">
                  <img src="/assets/images/course.png" class="card-img-top" alt="course img" />
                  <div class="card-body">
                    <h3 class="text-light fw-bold">
                      Chinese
                    </h3>
                    <div class="d-flex justify-content-between d-none">
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/time.svg" alt="course dutaion">
                        <h5 class="mb-0 text-light">৬ মাস</h5>
                      </div>
                      <div class="d-flex gap-2 align-items-center">
                        <img src="/assets/images/calender.svg" alt="total class">
                        <h5 class="mb-0 text-light">৩৪টি ক্লাস</h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
                    <div class="d-flex gap-2 d-none">
                      <span><img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
                        ১২০০০
                      </p>
                    </div>
                    <div class="d-flex justify-content-center pt-2 pb-2">
                      <a class="btn text-white rounded-4" href="#" role="button">Coming Soon</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- quiz section -->
  <section class="quiz-gradient py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-1 order-md-0">
          <h2 class="display-3 text-light">মাসিক কুইজ কন্টেস্ট</h2>
          <p class="text-light h2">
            ভাষা স্কুলের কুইজ কন্টেস্টে যোগ দিয়ে জিতে <br />
            নিন আকর্ষণীয় পুরস্কার
          </p>
          <div class="d-flex gap-4 pt-3">
            <a class="btn btn-danger rounded-4" href="https://www.facebook.com/groups/8402853953119177" target="_blank" role="button">জানুন বিস্তারিত</a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="/assets/images/home/quiz.svg" alt="quiz section img" />
        </div>
      </div>
    </div>
  </section>
  <!-- courses  -->
  <section class="bg-secondary-subtle py-5">
    <div class="container">
      <h2 class="text-center h4 text-info">কোর্সসমূহ</h2>
      <h3 class="h1 text-primary text-center">
        গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
      </h3>
      <ul class="nav nav-pills w-30 bg-danger-subtle w-50 justify-content-center rounded-pill mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active  rounded-pill px-md-5" id="pills-offline-tab" data-bs-toggle="pill" data-bs-target="#pills-offline" type="button" role="tab" aria-controls="pills-offline" aria-selected="true">
            <h4 class="mb-0">
              অনলাইন
            </h4>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link px-md-5  rounded-pill" id="pills-online-tab" data-bs-toggle="pill" data-bs-target="#pills-online" type="button" role="tab" aria-controls="pills-online" aria-selected="false">
            <h4 class="mb-0">
              অফলাইন
            </h4>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-offline" role="tabpanel" aria-labelledby="pills-offline-tab" tabindex="0">
          <div class="card-group py-5 courses">
            <% [{ coursesImg: "be.jpg",
             coursesAlt: "Basic English মাস্টারক্লাস",
              coursesTitle: `Basic English মাস্টারক্লাস`, 
              courseDuration: "৩ মাস",
              courseLength: "৩৪টি ক্লাস",
              courseActualPrice:"৪,০০০", 
              coursePrice: "২,০০০",
              coursesLink: "/courses/basic-english/",
             },
             { 
              coursesImg:"ielts.jpg",
              coursesAlt: "IELTS হিরো",
              coursesTitle: `IELTS হিরো`, 
              courseDuration: "৩ মাস",
              courseLength: "৩৪টি ক্লাস",
              courseActualPrice:"৫,০০০",
              coursePrice: "২,৫০০",
              coursesLink: "/courses/ielts-hero/", 
            },                    
              { 
                coursesImg: "ielts.jpg",
              coursesAlt: "জিরো টু IELTS হিরো", 
              coursesTitle: `জিরো টু IELTS হিরো`,
              courseDuration: "৬ মাস",
              courseLength: "৬৮টি ক্লাস",
              courseActualPrice:"৯,৫০০", 
              coursePrice: "৩,৫০০",
              coursesLink: "/courses/zero-ielts-hero", 
            },
              { coursesImg: "spoken.jpg", 
              coursesAlt: "দুর্দান্ত Spoken",
              coursesTitle: `দুর্দান্ত Spoken`, 
              courseDuration: "৩ মাস",
              courseLength: "১৭টি ক্লাস",
              courseActualPrice:"৩,০০০",  
              coursePrice: "১,৫০০",
              coursesLink: "/courses/durdanta-spoken", },
              {
                coursesImg: "writing.jpg",
                coursesAlt: "তুখোড় Writing",
                coursesTitle: `তুখোড় Writing`,
                courseDuration: "৩ মাস",
                courseLength: "১৭টি ক্লাস",
                courseActualPrice:"৩,০০০", 
                coursePrice: "১,৫০০",
                coursesLink: "/courses/tukhor-writing", 
              },
               {
                coursesImg: "mock.jpg",
                coursesAlt: "Mock Tests",
                coursesTitle: `Mock Tests`,
                courseDuration: "১টি থেকে",
                courseLength: "Partial Tests", 
                courseActualPrice:"",
                coursePrice: "৫০০ টাকা থেকে",
                coursesLink: "#", },
                 {
                coursesImg: "kids-english.jpg",
                coursesAlt: "Kid’s English Course",
                coursesTitle: `Kid’s English Course`,
                courseDuration: "১টি থেকে",
                courseLength: "Partial Tests",
                courseActualPrice:"৬,০০০",
                coursePrice: "২,০০০",
                coursesLink: "/courses/kids-english", }
              ].forEach(course => { %> <%-
              include('/_components/home/courses-card.ejs', {...course}) %> <% }) %>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-online" role="tabpanel" aria-labelledby="pills-online-tab" tabindex="0">
          <div class="card-group py-5 courses">
            <% [{ coursesImg: "be.jpg",
             coursesAlt: "Basic English মাস্টারক্লাস",
              coursesTitle: `Basic English মাস্টারক্লাস`, 
              courseDuration: "৩ মাস",
              courseLength: "৩৪টি ক্লাস",
              courseActualPrice:"৯,০০০",
              coursePrice: "৫,০০০",
              coursesLink: "/courses/basic-english/",
             },
             { 
              coursesImg:"ielts.jpg",
              coursesAlt: "IELTS হিরো",
              coursesTitle: `IELTS হিরো`, 
              courseDuration: "৩ মাস",
              courseLength: "৩৪টি ক্লাস",
              courseActualPrice:"১২,০০০",
              coursePrice: "৯,০০০",
              coursesLink: "/courses/ielts-hero/", 
            },                    
              { 
                coursesImg: "ielts.jpg",
              coursesAlt: "জিরো টু IELTS হিরো", 
              coursesTitle: `জিরো টু IELTS হিরো`,
              courseDuration: "৬ মাস",
              courseLength: "৬৮টি ক্লাস",
              courseActualPrice:"২১০০০",
              coursePrice: "১৪,৫০০",
              coursesLink: "/courses/zero-ielts-hero", 
            },
              { coursesImg: "spoken.jpg", 
              coursesAlt: "দুর্দান্ত Spoken",
              coursesTitle: `দুর্দান্ত Spoken`, 
              courseDuration: "৩ মাস",
              courseLength: "১৭টি ক্লাস",
              courseActualPrice:"৬,০০০",
              coursePrice: "৫,০০০",
              coursesLink: "/courses/durdanta-spoken", },
              {
                coursesImg: "writing.jpg",
                coursesAlt: "তুখোড় Writing",
                coursesTitle: `তুখোড় Writing`,
                courseDuration: "৩ মাস",
                courseLength: "১৭টি ক্লাস",
                courseActualPrice:"৫,০০০",
                coursePrice: "৫,০০০",
                coursesLink: "/courses/tukhor-writing", 
              },
               {
                coursesImg: "mock.jpg",
                coursesAlt: "Mock Tests",
                coursesTitle: `Mock Tests`,
                courseDuration: "১টি থেকে",
                courseLength: "Partial Tests", 
                courseActualPrice:"",
                coursePrice: "৫০০ টাকা থেকে",
                coursesLink: "#", },
                 {
                coursesImg: "kids-english.jpg",
                coursesAlt: "Kid’s English Course",
                coursesTitle: `Kid’s English Course`,
                courseDuration: "১টি থেকে",
                courseLength: "Partial Tests",
                courseActualPrice:"৮,৫০০",
                coursePrice: "৫,৯৫০",
                coursesLink: "/courses/kids-english", }
              ].forEach(course => { %> <%-
              include('/_components/home/courses-card.ejs', {...course}) %> <% }) %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- texttimonial -->
  <section class="position-relative">
    <img src="/assets/images/home/bg-left.svg" class="position-absolute end-0 left-0 h-50 d-none d-md-block" />
    <img src="/assets/images/home/bg-right.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block" />
    <div class="container py-5">
      <h2 class="h1 text-info text-center">শিক্ষার্থীরা যা বলেছেন</h2>
      <div class="card-group py-3 testimonials">
        <div class="card rounded-5 border-0 bg-light me-3 ms-3">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
              <img class="img-fluid testimonial-img" src="/assets/images/testimonial.png" alt="testimonial" />
              <h5 class="mb-0 fw-bold text-info secondary-font-family">
                Rifa Khan
              </h5>
              <div class="d-flex justify-content-center gap-1">
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-rating.svg" alt="star" />
              </div>
              <img class="img-fluid" src="../assets/images/testimonial-quote.svg" alt="testimonial quote" />
            </div>
            <p class="fw-normal text-info secondary-font-family px-4 py-3 text-center">
              I recently attended Bhasha Skool to prepare for the IELTS, and I must
              say that I was really pleased with the level of training and tools
              offered. The Cambridge-oriented study materials including mock tests
              and interactive lessons helped me to properly prepare for the test.
            </p>
          </div>
        </div>
        <div class="card rounded-5 border-0 bg-light me-3 ms-3">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
              <img class="img-fluid testimonial-img" src="/assets/images/testimonial.png" alt="" />
              <h5 class="mb-0 fw-bold text-info secondary-font-family">
                Rifa Khan
              </h5>
              <div class="d-flex justify-content-center gap-1">
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-half-rating.svg" alt="star-half" />
              </div>
              <img class="img-fluid" src="../assets/images/testimonial-quote.svg" alt="testimonial quote" />
            </div>
            <p class="fw-normal text-info secondary-font-family px-4 py-3 text-center">
              I recently attended Bhasha Skool to prepare for the IELTS, and I must
              say that I was really pleased with the level of training and tools
              offered. The Cambridge-oriented study materials including mock tests
              and interactive lessons helped me to properly prepare for the test.
            </p>
          </div>
        </div>
        <div class="card rounded-5 border-0 bg-light me-3 ms-3">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
              <img class="img-fluid testimonial-img" src="/assets/images/testimonial.png" alt="" />
              <h5 class="mb-0 fw-bold text-info secondary-font-family">
                Rifa Khan
              </h5>
              <div class="d-flex justify-content-center gap-1">
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-full-rating.svg" alt="star-full" />
                <img class="img-fluid" src="../assets/images/star-half-rating.svg" alt="star-half" />
              </div>
              <img class="img-fluid" src="../assets/images/testimonial-quote.svg" alt="testimonial quote" />
            </div>
            <p class="fw-normal text-info secondary-font-family px-4 py-3 text-center">
              I recently attended Bhasha Skool to prepare for the IELTS, and I must
              say that I was really pleased with the level of training and tools
              offered. The Cambridge-oriented study materials including mock tests
              and interactive lessons helped me to properly prepare for the test.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- logo section -->
  <section class="bg-secondary-subtle py-5">
    <div class="container w-50 d-none">
      <h2 class="h1 text-primary text-center fw-semibold">
        অনুমোদিত রেজিস্ট্রেশন পয়েন্ট
      </h2>
      <div class="row py-5 log">
        <div class="col-4 col-md-4">
          <img src="/assets/images/idp-logo.png" alt="idp logo" class="text-center" />
        </div>
        <div class="col-4 col-md-4">
          <img src="/assets/images/british-council-logo.png" alt="british council logo" class="text-center" />
        </div>
        <div class="col-4 col-md-4">
          <img src="/assets/images/ielts-logo.png" alt="ielts logo" class="text-center" />
        </div>
      </div>
    </div>
    <div class="container d-md-block d-none">
      <div class="text-center">
        <img src="/assets/images/councils-logo.png" alt="councils logo" class="w-50" />
      </div>
    </div>
    <div class="container d-md-none d-block">
      <div class="text-center">
        <img src="/assets/images/councils-logo.png" alt="councils logo" class="w-100" />
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%>

  <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  <%- include("/_components/scripts")-%>
</body>

</html>