<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Checkout | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%> <%- include("/_components/styles")
    -%>
  </head>

  <body>
    <!-- nav-bar -->
    <%- include("/_components/nav") -%>
  <!-- checkout banner section -->
  <section class="bg-gradient py-5 top-margin">
    <div class="container py-5">
      <h1 class="text-center display-3 fw-bold text-light">চেক আউট</h1>
      <h2 class="text-center text-white">
        ভাষা শেখা, বিশেষ করে ইংরেজির আতঙ্ককে দূর করে ভাষা শিক্ষা Simplify
        করতেই ভাষা স্কুলের যাত্রা।
      </h2>
    </div>
  </section>
  <!-- oder summary -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-primary text-center">
        অর্ডার আইডিঃ TMS123456789
      </h2>
      <div class="row">
        <div class="col-md-8">
          <div class="card p-4">
            <div class="row g-0 align-items-center">
              <div class="col-md-4">
                <img src="/assets/images/checkout/checkout-course.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="secondary-font-family fw-semibold text-info">Basic English Course</h2>
                  <h4 class="fw-bold text-info">
                    <span>
                      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M6.1998 2.759C6.44668 3.1215 6.66855 3.70588 6.66855 4.56838V7.36838H7.41543L8.66855 8.6465H6.66855V12.2715C6.66855 12.5559 6.7748 12.8121 6.9873 13.0434C7.1998 13.2746 7.54668 13.3903 8.02793 13.3903C8.6498 13.3903 9.30605 13.0434 9.9998 12.3496C10.7092 11.6403 11.0842 10.9121 11.1186 10.1653L10.7998 10.1934C9.6623 10.1934 9.09355 9.59025 9.09355 8.38088C9.09355 7.9715 9.22793 7.609 9.49355 7.28713C9.75918 6.96838 10.2029 6.80588 10.8248 6.80588C11.4811 6.80588 12.0342 7.09025 12.4779 7.659C12.9404 8.22775 13.1717 8.9215 13.1717 9.73713C13.1717 10.9465 12.6561 12.0996 11.6248 13.2028C10.6123 14.3028 8.6748 14.8559 7.9998 14.8559C6.91855 14.8559 6.50293 14.6434 6.1498 14.4028C5.79668 14.159 5.33418 13.584 5.33418 12.859V8.6465H4.05605L2.83105 7.36838H5.3373V4.83713C5.3373 4.2715 4.77168 3.96213 4.40293 3.93088C4.17793 3.91213 3.93105 3.97463 3.84355 4.06525C3.68418 3.79963 3.53105 3.47775 3.39043 3.10588C3.39043 3.10588 3.51543 2.65588 3.9248 2.38713C4.20605 2.20275 4.47168 2.1465 4.88418 2.1465C5.66855 2.14338 6.03105 2.51213 6.1998 2.759Z"
                          fill="#C1152E" />
                      </svg>
                    </span>
                    ৪,৯৯৯
                  </h4>
                  <h6 class="text-info-emphasis">ফুল কোর্স পরিশোধ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="text-info fw-semibold">প্রোডাক্টের মূল্য</h4>
                <h4 class="text-info fw-semibold">
                  <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.1998 2.259C6.44668 2.6215 6.66855 3.20588 6.66855 4.06838V6.86838H7.41543L8.66855 8.1465H6.66855V11.7715C6.66855 12.0559 6.7748 12.3121 6.9873 12.5434C7.1998 12.7746 7.54668 12.8903 8.02793 12.8903C8.6498 12.8903 9.30605 12.5434 9.9998 11.8496C10.7092 11.1403 11.0842 10.4121 11.1186 9.66525L10.7998 9.69338C9.6623 9.69338 9.09355 9.09025 9.09355 7.88088C9.09355 7.4715 9.22793 7.109 9.49355 6.78713C9.75918 6.46838 10.2029 6.30588 10.8248 6.30588C11.4811 6.30588 12.0342 6.59025 12.4779 7.159C12.9404 7.72775 13.1717 8.4215 13.1717 9.23713C13.1717 10.4465 12.6561 11.5996 11.6248 12.7028C10.6123 13.8028 8.6748 14.3559 7.9998 14.3559C6.91855 14.3559 6.50293 14.1434 6.1498 13.9028C5.79668 13.659 5.33418 13.084 5.33418 12.359V8.1465H4.05605L2.83105 6.86838H5.3373V4.33713C5.3373 3.7715 4.77168 3.46213 4.40293 3.43088C4.17793 3.41213 3.93105 3.47463 3.84355 3.56525C3.68418 3.29963 3.53105 2.97775 3.39043 2.60588C3.39043 2.60588 3.51543 2.15588 3.9248 1.88713C4.20605 1.70275 4.47168 1.6465 4.88418 1.6465C5.66855 1.64338 6.03105 2.01213 6.1998 2.259Z"
                        fill="#C1152E" />
                    </svg></span>
                  ৪,৯৯৯
                  </h4>
              </div>
              <div class="d-flex justify-content-between">
                <h5 class="text-info fw-normal">ডিসকাউন্ট</h5>
                <h5 class="text-info fw-normal">
                  <span class="h5 text-info fw-semibold">
                    -
                  </span>
                  <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.1998 2.259C6.44668 2.6215 6.66855 3.20588 6.66855 4.06838V6.86838H7.41543L8.66855 8.1465H6.66855V11.7715C6.66855 12.0559 6.7748 12.3121 6.9873 12.5434C7.1998 12.7746 7.54668 12.8903 8.02793 12.8903C8.6498 12.8903 9.30605 12.5434 9.9998 11.8496C10.7092 11.1403 11.0842 10.4121 11.1186 9.66525L10.7998 9.69338C9.6623 9.69338 9.09355 9.09025 9.09355 7.88088C9.09355 7.4715 9.22793 7.109 9.49355 6.78713C9.75918 6.46838 10.2029 6.30588 10.8248 6.30588C11.4811 6.30588 12.0342 6.59025 12.4779 7.159C12.9404 7.72775 13.1717 8.4215 13.1717 9.23713C13.1717 10.4465 12.6561 11.5996 11.6248 12.7028C10.6123 13.8028 8.6748 14.3559 7.9998 14.3559C6.91855 14.3559 6.50293 14.1434 6.1498 13.9028C5.79668 13.659 5.33418 13.084 5.33418 12.359V8.1465H4.05605L2.83105 6.86838H5.3373V4.33713C5.3373 3.7715 4.77168 3.46213 4.40293 3.43088C4.17793 3.41213 3.93105 3.47463 3.84355 3.56525C3.68418 3.29963 3.53105 2.97775 3.39043 2.60588C3.39043 2.60588 3.51543 2.15588 3.9248 1.88713C4.20605 1.70275 4.47168 1.6465 4.88418 1.6465C5.66855 1.64338 6.03105 2.01213 6.1998 2.259Z"
                        fill="#C1152E" />
                    </svg></span>
                  ৫০০
                  </h5>
              </div>
              <div class="d-flex justify-content-between">
                <span class="d-flex"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_388_886)">
                      <path
                        d="M13.1428 0H2.85713C1.27995 0.001875 0.001875 1.27995 0 2.85713V13.1428C0.001875 14.72 1.27995 15.9981 2.85713 16H13.1428C14.72 15.9981 15.9981 14.72 16 13.1428V2.85713C15.9981 1.27995 14.72 0.001875 13.1428 0ZM14.8571 13.1428C14.8571 14.0896 14.0896 14.8571 13.1428 14.8571H2.85713C1.91036 14.8571 1.14285 14.0896 1.14285 13.1428V2.85713C1.14285 1.91036 1.91036 1.14285 2.85713 1.14285H13.1428C14.0896 1.14285 14.8571 1.91036 14.8571 2.85713V13.1428Z"
                        fill="#C1152E" />
                      <path
                        d="M10.857 7.4287H8.5713V5.14297C8.5713 4.82737 8.31546 4.57153 7.99986 4.57153C7.68426 4.57153 7.42842 4.82737 7.42842 5.14297V7.4287H5.14273C4.82713 7.4287 4.57129 7.68453 4.57129 8.00014C4.57129 8.31574 4.82713 8.57154 5.14273 8.57154H7.42845V10.8573C7.42845 11.1729 7.68429 11.4287 7.99989 11.4287C8.31549 11.4287 8.5713 11.1728 8.5713 10.8573V8.57154H10.857C11.1726 8.57154 11.4285 8.3157 11.4285 8.0001C11.4285 7.6845 11.1726 7.4287 10.857 7.4287Z"
                        fill="#C1152E" />
                    </g>
                    <defs>
                      <clipPath id="clip0_388_886">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <h6 class="ps-3 text-primary fw-normal">প্রোমো কোড যুক্ত করুন</h6>
                </span>
                <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 5L15.5 12L8.5 19" stroke="#272454" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </div>
              <hr class="bg-light-text-emphasis">
              <div class="d-flex justify-content-between">
                <h5 class="text-info fw-normal">সর্বোমোট</h5>
                <h5 class="text-info fw-normal">
                  <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.1998 2.259C6.44668 2.6215 6.66855 3.20588 6.66855 4.06838V6.86838H7.41543L8.66855 8.1465H6.66855V11.7715C6.66855 12.0559 6.7748 12.3121 6.9873 12.5434C7.1998 12.7746 7.54668 12.8903 8.02793 12.8903C8.6498 12.8903 9.30605 12.5434 9.9998 11.8496C10.7092 11.1403 11.0842 10.4121 11.1186 9.66525L10.7998 9.69338C9.6623 9.69338 9.09355 9.09025 9.09355 7.88088C9.09355 7.4715 9.22793 7.109 9.49355 6.78713C9.75918 6.46838 10.2029 6.30588 10.8248 6.30588C11.4811 6.30588 12.0342 6.59025 12.4779 7.159C12.9404 7.72775 13.1717 8.4215 13.1717 9.23713C13.1717 10.4465 12.6561 11.5996 11.6248 12.7028C10.6123 13.8028 8.6748 14.3559 7.9998 14.3559C6.91855 14.3559 6.50293 14.1434 6.1498 13.9028C5.79668 13.659 5.33418 13.084 5.33418 12.359V8.1465H4.05605L2.83105 6.86838H5.3373V4.33713C5.3373 3.7715 4.77168 3.46213 4.40293 3.43088C4.17793 3.41213 3.93105 3.47463 3.84355 3.56525C3.68418 3.29963 3.53105 2.97775 3.39043 2.60588C3.39043 2.60588 3.51543 2.15588 3.9248 1.88713C4.20605 1.70275 4.47168 1.6465 4.88418 1.6465C5.66855 1.64338 6.03105 2.01213 6.1998 2.259Z"
                        fill="#C1152E" />
                    </svg></span>
                  <span class="text-info fw-normal">
                    ৩,৫০০
                  </span>
                </h5>
              </div>
              <h4 class="fw-bold text-info">পেমেন্ট মেথড সিলেক্ট করুন</h4>
              <ul class="list-group mb-5">
                <li class="list-group-item justify-content-between">
                  <span>
                    <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="firstRadio"
                      checked />
                    <label class="form-check-label h4 text-info fw-semibold" for="firstRadio">বিকাশ</label>
                  </span>
                  <img src="/assets/images/checkout/bkash-logo.png" alt="bkash logo" />
                </li>
                <li class="list-group-item justify-content-between">
                  <span>
                    <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="secondRadio" />
                    <label class="form-check-label h4 text-info fw-semibold" for="secondRadio">নগদ</label>
                  </span>
                  <img src="/assets/images/checkout/nagad-logo.png" alt="nagad logo" />
                </li>
                <li class="list-group-item gap-2">
                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="thirdRadio" />
                  <label class="form-check-label h4 text-info fw-semibold" for="thirdRadio">অন্যান্য</label>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <a href="#" class="text-decoration-none bg-info text-light-emphasis h3 p-3 rounded-4 px-5">পেমেন্ট</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%> <%-
  include("/_components/scripts")-%>
</body>
</html>