<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Certificate verify | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%> <%- include("/_components/styles")
    -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <!-- checkout banner section -->
  <section class="py-5 top-margin  position-relative">
    <img src="/assets/images/home/bg-left.svg" class="position-absolute end-0 left-0 h-50 d-none d-md-block">
    <img src="/assets/images/home/bg-right.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 gap-3">
          <h4 class="card-title text-info">সার্টিফিকেট আইডি ভেরিফিকেশন</h4>
          <input type="text" class="form-control py-3 my-3" placeholder="সার্টিফিকেট আইডি লিখুন" aria-label="certificate-id" aria-describedby="search">
          <a href="#" class="btn btn-danger rounded-2 w-100" role="button" tabindex="-1">সাবমিট করুন</a>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img src="/assets/images/cerificate-demo.png" class="card-img-top" alt="certificate demo">
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%> <%-
  include("/_components/scripts")-%>
</body>

</html>