<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%> <%- include("/_components/styles")
    -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <!-- checkout banner section -->
  <section class="bg-gradient py-5 top-margin">
    <div class="container py-5">
      <h1 class="text-center display-3 fw-bold text-light">আমাদের ব্লগে স্বাগতম</h1>
      <h2 class="text-center text-white">
        ভাষা শেখা, বিশেষ করে ইংরেজির আতঙ্ককে দূর করে ভাষা শিক্ষা Simplify
        করতেই ভাষা স্কুলের যাত্রা।
      </h2>
    </div>
  </section>
  <section class="bg-secondary-subtle py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card border-0 h-100 bg-transparent">
            <img src="/assets/images/blog/blog-01.png" class="card-img-top" alt="blog-01">
            <div class="card-body">
              <h2 class="card-title text-info">আইইএলটিএস: প্রস্তুতি নেবেন যেভাবে</h2>
              <p class="card-text text-info">যাদের মাতৃভাষা ইংরেজি না, তাদের ইংরেজি ভাষার দক্ষতা যাচাইয়ের আন্তর্জাতিকভাবে স্বীকৃত পদ্ধতিকে বলে ইন্টারন্যাশনাল ইংলিশ ল্যাঙ্গুয়েজ টেস্টিং সিস্টেম (আইইএলটিএস)।...
              </p>
            </div>
            <a href="/blog/blog-01" class="btn btn-light rounded-4 w-50 py-2" role="button"> আরো পড়ুন
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 h-100 bg-transparent">
            <img src="/assets/images/blog/blog-01.png" class="card-img-top" alt="blog-01">
            <div class="card-body">
              <h2 class="card-title text-info">আইইএলটিএস: প্রস্তুতি নেবেন যেভাবে</h2>
              <p class="card-text text-info">যাদের মাতৃভাষা ইংরেজি না, তাদের ইংরেজি ভাষার দক্ষতা যাচাইয়ের আন্তর্জাতিকভাবে স্বীকৃত পদ্ধতিকে বলে ইন্টারন্যাশনাল ইংলিশ ল্যাঙ্গুয়েজ টেস্টিং সিস্টেম (আইইএলটিএস)।...
              </p>
            </div>
            <a href="/blog/blog-01" class="btn btn-light rounded-4 w-50 py-2" role="button"> আরো পড়ুন
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 h-100 bg-transparent">
            <img src="/assets/images/blog/blog-01.png" class="card-img-top" alt="blog-01">
            <div class="card-body">
              <h2 class="card-title text-info">আইইএলটিএস: প্রস্তুতি নেবেন যেভাবে</h2>
              <p class="card-text text-info">যাদের মাতৃভাষা ইংরেজি না, তাদের ইংরেজি ভাষার দক্ষতা যাচাইয়ের আন্তর্জাতিকভাবে স্বীকৃত পদ্ধতিকে বলে ইন্টারন্যাশনাল ইংলিশ ল্যাঙ্গুয়েজ টেস্টিং সিস্টেম (আইইএলটিএস)।...
              </p>
            </div>
            <a href="/blog/blog-01" class="btn btn-light rounded-4 w-50 py-2" role="button"> আরো পড়ুন
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%> <%-
  include("/_components/scripts")-%>
</body>

</html>