<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us | Bhasha Skool</title>
    <%- include("/_components/head-seo") -%> <%- include("/_components/styles")
    -%>
  </head>

  <body>
    <!-- nav-bar -->
    <%- include("/_components/nav") -%>
    <!-- about banner section -->
    <section class="bg-gradient py-5 top-margin">
      <div class="container py-5">
        <h1 class="text-center display-3 fw-bold text-light">
          আমাদের গল্প
        </h1>
        <h2 class="text-center text-white">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_229_2511)">
              <path
                d="M24 3L24 12L18 12C18 15.3075 20.6895 18 24 18L24 21C19.0373 21 15 16.9628 15 12L15 3L24 3ZM9 3L9 12L3 12C3 15.3075 5.6895 18 9 18L9 21C4.03725 21 1.22066e-06 16.9628 7.86805e-07 12L0 3L9 3Z"
                fill="#E9E9EE"
              />
            </g>
            <defs>
              <clipPath id="clip0_229_2511">
                <rect
                  width="24"
                  height="24"
                  fill="white"
                  transform="matrix(-1 8.74228e-08 8.74228e-08 1 24 0)"
                />
              </clipPath>
            </defs>
          </svg>
          ভাষা শেখা, বিশেষ করে ইংরেজির আতঙ্ককে দূর করে ভাষা শিক্ষা Simplify
          করতেই ভাষা স্কুলের যাত্রা।
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_229_2514)">
              <path
                d="M0 3L-7.86805e-07 12L6 12C6 15.3075 3.3105 18 -1.31134e-06 18L-1.57361e-06 21C4.96275 21 9 16.9628 9 12L9 3L0 3ZM15 3L15 12L21 12C21 15.3075 18.3105 18 15 18L15 21C19.9627 21 24 16.9628 24 12L24 3L15 3Z"
                fill="#E9E9EE"
              />
            </g>
            <defs>
              <clipPath id="clip0_229_2514">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </h2>
      </div>
    </section>
    <!-- our stories -->
    <section class="py-5 course-list">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-12">
            <h2 class="h1 text-primary fw-semibold text-center text-md-start d-none">
              আমাদের গল্প
            </h2>
            <h4 class="text-info text-center text-md-start">
              British Council ও IDP অনুমোদিত রেজিস্ট্রেশন পয়েন্ট ভাষা স্কুল
              যাত্রা শুরু করে ২০২২ সালে ইংরেজি ও IELTS এর ভীতি দূর করে ইংরেজিকে
              আরো সহজ ও আরো আনন্দময় করে তুলতে। স্কুল বা কলেজের একঘেয়েমি থেকে
              দূরে সরে ভিন্ন আঙ্গিকে মজার ছলে সবার Active Participation নিশ্চিত
              করে ভাষা শিখানোই ভাষা স্কুলের মূল লক্ষ্য। এছাড়া কোর্স অনুযায়ী
              Unique সব Tips & tricks ও expert guidence থাকছে প্রতিটি ক্লাসেই যা
              ছোট বড় সবার জন্য ইংরেজিকে করে তুলে Simplified.
            </h4>
          </div>
          <div class="col-md-6 col-12">
            <div
              id="carouselExampleInterval"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <img
                    src="/assets/images/about/slider-03.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="/assets/images/about/slider-01.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="/assets/images/about/slider-02.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- certified registration point -->
    <section class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img
              width="400"
              height="400"
              class=""
              src="/assets/images/about/certificate-01.jpg"
              alt="certificate 01"
            />
          </div>
          <div class="col-md-6">
            <h2 class="h1 text-primary fw-semibold text-center text-md-start">
              Certified Registration point
            </h2>
            <h4 class="text-info text-center text-md-start">
              ভাষা স্কুল British Council এবং IDP এর অনুমোদিত রেজিস্ট্রেশন পয়েন্ট
              স্কাইলেন প্রাইভেট লিমিটেড এর একটি অঙ্গপ্রতিষ্ঠান। IELTS
              রেজিস্ট্রেশন সহ IELTS সংক্রান্ত যে কোন তথ্য ও সহযোগিতার জন্য
              ভাষাস্কুলের সকল ব্রাঞ্চ নিবেদিত।
            </h4>
          </div>
        </div>
      </div>
    </section>
    <!-- specilized packages section -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <h2 class="h1 text-primary text-center fw-semibold">
          স্পেশালাইজড সার্ভিসেস
        </h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4 text-center text-md-start">
                  প্যাকেজ-০১
                </h6>
                <div
                  class="d-flex gap-2 justify-content-center justify-content-md-start"
                >
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info display-5 fw-semibold text-center">
                    ১৫০০
                  </h6>
                </div>
                <h5 class="h4 text-info fw-bold text-center text-md-start">
                  যা যা থাকবেঃ
                </h5>
                <div
                  class="d-flex justify-content-center justify-content-md-start"
                >
                  <ul>
                    <li class="h5 text-info">৪টা মক টেস্ট</li>
                    <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                    <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                    <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4 text-center text-md-start">
                  প্যাকেজ-০১
                </h6>
                <div
                  class="d-flex gap-2 justify-content-center justify-content-md-start"
                >
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info display-5 fw-semibold text-center">
                    ১৫০০
                  </h6>
                </div>
                <h5 class="h4 text-info fw-bold text-center text-md-start">
                  যা যা থাকবেঃ
                </h5>
                <div
                  class="d-flex justify-content-center justify-content-md-start"
                >
                  <ul>
                    <li class="h5 text-info">৪টা মক টেস্ট</li>
                    <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                    <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                    <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4 text-center text-md-start">
                  প্যাকেজ-০১
                </h6>
                <div
                  class="d-flex gap-2 justify-content-center justify-content-md-start"
                >
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info display-5 fw-semibold text-center">
                    ১৫০০
                  </h6>
                </div>
                <h5 class="h4 text-info fw-bold text-center text-md-start">
                  যা যা থাকবেঃ
                </h5>
                <div
                  class="d-flex justify-content-center justify-content-md-start"
                >
                  <ul>
                    <li class="h5 text-info">৪টা মক টেস্ট</li>
                    <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                    <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                    <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                  </ul>
                </div>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- teams  -->
    <section class="py-5 d-none">
      <div class="container position-relative">
        <img
          class="img-fluid"
          src="/assets/images/about/teams.png"
          alt="teams"
        />
        <div
          class="card rounded-5 bg-white border-0 shadow position-absolute top-10 left-80 w-25 d-md-block d-none"
        >
          <div class="card-body p-5">
            <h4 class="text-center text-primary fw-bold">
              ভাষা স্কুল সম্পর্কে জানুন
            </h4>
            <span class="d-flex justify-content-center">
              <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_453_101)">
                  <path
                    d="M24 0C10.7451 0 0 10.7451 0 24C0 37.2547 10.7451 47.9999 24 47.9999C37.2547 47.9999 47.9999 37.2547 47.9999 24C47.9858 10.7511 37.2489 0.0141629 24 0ZM24 44.5714C12.6387 44.5714 3.42854 35.3612 3.42854 24C3.42854 12.6387 12.6387 3.42854 24 3.42854C35.3612 3.42854 44.5714 12.6387 44.5714 24C44.5591 35.3562 35.3562 44.5591 24 44.5714Z"
                    fill="#C1152E"
                  />
                  <path
                    d="M34.1051 23.2357C33.939 22.9024 33.6688 22.6322 33.3355 22.4661L19.6212 15.6089C18.7743 15.1857 17.7447 15.5291 17.3214 16.3761C17.2024 16.6143 17.1405 16.8769 17.1406 17.1432V30.8576C17.1402 31.8044 17.9073 32.5722 18.8541 32.5727C19.1204 32.5728 19.3831 32.5109 19.6212 32.3919L33.3355 25.5347C34.1829 25.1124 34.5275 24.0831 34.1051 23.2357ZM20.5693 28.0838V19.9169L28.7362 24.0004L20.5693 28.0838Z"
                    fill="#C1152E"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_453_101">
                    <rect width="48" height="48" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <h5 class="text-center text-info pt-4">
              ভাষা শেখা, বিশেষ করে ইংরেজির আতঙ্ককে দূর করে ভাষা শিক্ষা Simplify
              করতেই ভাষা স্কুলের যাত্রা।
            </h5>
          </div>
        </div>
        <div
          class="card rounded-5 bg-white border-0 shadow position-absolute bottom-10 left-n10 d-md-block d-none"
        >
          <div class="card-body p-5 d-flex">
            <span class="pe-5">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.0035 0C13.5702 0 8.33683 5.23333 8.33683 11.6667C8.33683 18.1 13.5702 23.3333 20.0035 23.3333C26.4368 23.3333 31.6702 18.1 31.6702 11.6667C31.6702 5.23333 26.4368 0 20.0035 0ZM26.3152 11.2617L24.0468 13.5867L24.5852 16.8833C24.6225 17.1147 24.594 17.3519 24.503 17.5679C24.412 17.7839 24.2621 17.9699 24.0704 18.1048C23.8787 18.2396 23.6529 18.3179 23.4189 18.3306C23.1849 18.3433 22.952 18.29 22.7468 18.1767L20.0035 16.6617L17.2602 18.1783C17.0549 18.293 16.8214 18.3473 16.5867 18.3351C16.3519 18.3228 16.1253 18.2446 15.9331 18.1093C15.7408 17.974 15.5907 17.7871 15.4999 17.5702C15.4092 17.3533 15.3815 17.1152 15.4202 16.8833L15.9585 13.5867L13.6918 11.2617C13.5314 11.0971 13.4195 10.8915 13.3683 10.6675C13.3171 10.4435 13.3286 10.2097 13.4017 9.99181C13.4747 9.77392 13.6064 9.58038 13.7822 9.43246C13.9581 9.28454 14.1713 9.18796 14.3985 9.15333L17.4835 8.68167L18.8735 5.72C19.2835 4.84167 20.7252 4.84167 21.1352 5.72L22.5252 8.68167L25.6102 9.15333C25.8379 9.1871 26.0518 9.28325 26.2282 9.43113C26.4046 9.57901 26.5366 9.77285 26.6096 9.99117C26.6826 10.2095 26.6938 10.4437 26.6418 10.668C26.5898 10.8922 26.4768 11.0977 26.3152 11.2617ZM9.93683 21.6333L3.48683 33.2167C3.27016 33.6167 3.28683 34.1167 3.53683 34.5C3.78683 34.8833 4.22016 35.1167 4.68683 35.0667L9.82016 34.6833L12.0868 39.3C12.3035 39.7167 12.7202 39.9833 13.1702 40H13.2035C13.6535 40 14.0868 39.75 14.3035 39.3667L18.5035 31.9L14.4202 24.6833C12.7444 23.9627 11.2225 22.9274 9.93683 21.6333ZM36.5035 33.2167L30.0035 21.7C27.8414 23.8631 25.0326 25.2616 22.0035 25.6833C21.3535 25.7833 20.6868 25.8333 20.0035 25.8333C19.2702 25.8333 18.5535 25.7833 17.8535 25.6667L19.9368 29.35L25.5868 39.3667C25.8035 39.75 26.2202 40 26.6702 40H26.7035C27.1702 39.9833 27.5868 39.7167 27.8035 39.3L30.0868 34.6833L35.3202 35.0833C35.7868 35.1167 36.2202 34.9 36.4702 34.5C36.7202 34.1167 36.7368 33.6167 36.5035 33.2167Z"
                  fill="#272454"
                />
              </svg>
            </span>
            <h4 class="h1 text-info fw-bold">২+ বছরের সফলতা</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- our teachers -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <h2 class="h1 text-center text-primary fw-semibold">
          ভাষা স্কুল পরিবারের সদস্যবৃন্দ
        </h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
          <div class="col">
            <div class="card py-5 align-items-center border-0 rounded-4">
              <img
                src="/assets/images/about/teachers.png"
                class="card-img-top w-50"
                alt="teacher"
              />
              <div class="card-body text-center">
                <h5 class="card-title h1 text-primary fw-semibold">
                  মোঃ ফারুক
                </h5>
                <h4 class="text-info">কো-ফাউন্ডার এবং সিইও</h4>
                <p class="card-text h4 text-info pt-2">
                  চার্টার্ড ফাইন্যান্সিয়াল অ্যানালিস্ট, বিএসসি, বিজনেস
                  ম্যানেজমেন্ট, কার্ডিফ ইউনিভার্সিটি
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card py-5 align-items-center border-0 rounded-4">
              <img
                src="/assets/images/about/teachers.png"
                class="card-img-top w-50"
                alt="teacher"
              />
              <div class="card-body text-center">
                <h5 class="card-title h1 text-primary fw-semibold">
                  মোঃ ফারুক
                </h5>
                <h4 class="text-info">কো-ফাউন্ডার এবং সিইও</h4>
                <p class="card-text h4 text-info pt-2">
                  চার্টার্ড ফাইন্যান্সিয়াল অ্যানালিস্ট, বিএসসি, বিজনেস
                  ম্যানেজমেন্ট, কার্ডিফ ইউনিভার্সিটি
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card py-5 align-items-center border-0 rounded-4">
              <img
                src="/assets/images/about/teachers.png"
                class="card-img-top w-50"
                alt="teacher"
              />
              <div class="card-body text-center">
                <h5 class="card-title h1 text-primary fw-semibold">
                  মোঃ ফারুক
                </h5>
                <h4 class="text-info">কো-ফাউন্ডার এবং সিইও</h4>
                <p class="card-text h4 text-info pt-2">
                  চার্টার্ড ফাইন্যান্সিয়াল অ্যানালিস্ট, বিএসসি, বিজনেস
                  ম্যানেজমেন্ট, কার্ডিফ ইউনিভার্সিটি
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include('/_components/footer') -%> <%-
    include("/_components/scripts")-%>
  </body>
</html>
