<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>জিরো টু IELTS হিরো | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%>
  <%- include("/_components/styles") -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <section class="course-details-gradient pt-5 top-margin">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 order-1 order-md-0 d-none d-md-block">
          <h4 class="text-info fw-semibold">
            ইংরেজির গোড়া শিখে IELTS এ কাঙ্ক্ষিত স্কোর তুলুন
          </h4>
          <h1 class="fw-semibold">
            <span class="text-white bg-primary rounded-4 p-2">
              ইংরেজিতে জিরো
            </span>
            <span class="text-info ps-3">থেকে</span>
          </h1>
          <h1 class="fw-semibold pt-2">
            <span class="text-info ps-3">হয়ে উঠুন</span>
            <span class="text-white bg-info rounded-4 p-2">IELTS হিরো
            </span>
          </h1>
          <h4 class="text-info fw-semibold">
            Public Speaking | Interactive Classes | Expert Guidance | Personalized Study Plans |
            Progress Tracking | Practice Materials | Mock Tests & Post-Test Support
          </h4>
        </div>
        <div class="col-md-8 order-1 order-md-0 d-block d-md-none">
          <h4 class="text-info fw-semibold text-center pt-3">
            ইংরেজির গোড়া শিখে IELTS এ কাঙ্ক্ষিত স্কোর তুলুন
          </h4>
          <div class="row">
            <div class="col-6">
              <div class="bg-primary rounded-4 py-2">
                <h2 class="fw-bold text-center text-white">
                  ইংরেজিতে জিরো
                </h2>
                <h3 class="text-white text-center">থেকে</h3>
              </div>
            </div>
            <div class="col-6">
              <div class="bg-info rounded-4 py-2">
                <h1 class="fw-bold text-center text-white">
                  IELTS হিরো
                </h1>
                <h3 class="text-white text-center">হয়ে উঠুন</h3>
              </div>
            </div>
          </div>
          <h4 class="text-info fw-semibold text-center pt-3 pb-3">
            Public Speaking | Interactive Classes | Expert Guidance | Personalized Study Plans |
            Progress Tracking | Practice Materials | Mock Tests & Post-Test Support
          </h4>
        </div>
        <div class="col-md-4 order-0 order-md-1">
          <img class="img-fluid" src="/assets/images/courses/course-details-banner.png" alt="course details banner" />
        </div>
      </div>
    </div>
  </section>
  <!-- course details -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 order-1 order-md-0 pt-md-0 pt-5">
          <div class="card shadow border-0 rounded-4">
            <div class="card-body">
              <h2 class="fw-semibold h1 text-info">
                জিরো টু IELTS হিরো
              </h2>
              <h6 class="fw-normal text-info h5">
                Master the basics of the English language and develop the foundation and expert guidelines required to prepare for IELTS.
              </h6>
              <hr />
              <div class="d-flex gap-4">
                <h6 class="fw-normal text-primary h5">ইনস্ট্রাক্টর</h6>
                <h6 class="fw-normal text-info h5">যা যা থাকছে</h6>
                <h6 class="fw-normal text-info h5">সেবা সমূহ</h6>
                <h6 class="fw-normal text-info h5">সার্টিফিকেট</h6>
                <h6 class="fw-normal text-info h5">পেমেন্ট</h6>
              </div>
            </div>
          </div>
          <h4 class="text-info fw-semibold pt-5">ইনস্ট্রাক্টর</h4>
          <div class="d-flex gap-3 flex-column flex-md-row">
            <div class="d-flex gap-3">
              <img width="100" height="100" src="/assets/images/user-placeholder.jpg" class="img-fluid" alt="author" />
              <div>
                <h4 class="text-dark">Ikramul Hasan</h4>
                <h6 class="text-dark">
                  MSc (English), University of Oxford (UK); <br />
                  BA, MA (English), University of Dhaka; <br />
                  IELTS: 8.5
                </h6>
              </div>
            </div>
          </div>
          <h4 class="text-info fw-semibold pt-5">যা যা থাকছে</h4>
          <ul class="list-group list-group-pad">
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Listening</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Speaking </h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Reading </h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Writing</h5>
            </li>
          </ul>
          <h4 class="text-info fw-semibold pt-5">সেবা সমূহ</h4>
          <ul class="list-group list-group-pad">
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Course Based Tips & Tricks</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Unlimited Mock & Partial Tests</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Free Course Materials</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Up to one-year membership</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Regular Assessments</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Language Club</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Friday & Saturday Classes available</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Digital & Air-Conditioned Classes</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Expert & Experienced Tutor Panel</h5>
            </li>
          </ul>
          <h4 class="text-info fw-semibold pt-5">বিস্তারিত</h4>
          <h5 class="text-info">Certificate Demo</h5>
          <h5 class="text-info">Payment Tutorial Video</h5>
          <h5 class="text-info">কেন জিরো টু IELTS হিরো কোর্সটি ভিন্ন?</h5>
          <p class="text-info">
            IELTS এক্সামের প্রস্তুতি নিতে চাচ্ছেন কিন্তু ইংরেজিতে দুর্বলতার কারণে এক্সামের Confidence পাচ্ছেন না? জিরো টু IELTS হিরো কোর্সটিতে আপনার ইংরেজির বিশুদ্ধ উচ্চারণ থেকে শুরু করে IELTS এক্সামে ভালো স্কোর তোলা পর্যন্ত প্রতিটি বিষয়ে নিয়মিত Guideline দেয়া হয়। সাথে থাকছে Basic English মাস্টারক্লাস এবং IELTS হিরো কোর্স দুইটির Combined Facilities যেখানে ইংরেজির নিয়মিত Practice সেশনস এর পাশাপাশি থাকছে IELTS Mock Tests. তাই ইংরেজি নির্ভুল্ভাবে বলতে ও লিখতে পারার পাশাপাশি ভালো IELTS স্কোর ওঠানো আপনার লক্ষ্য হয়ে থাকলে এই কোর্সটি আপনার জন্যই।
          </p>
          <h4 class="text-info fw-semibold pt-5">পেমেন্ট</h4>
          <h5 class="text-info">
            কীভাবে পেমেন্ট করবেন তা বিস্তারিত জানতে
            <span class="text-primary"> এই ভিডিওটি দেখুন </span>
          </h5>
          <h4 class="text-info fw-semibold pt-5">সার্টিফিকেট</h4>
          <p class="text-info">
            কোর্সটি সফলভাবে শেষ করলে আপনার জন্য আছে সার্টিফিকেট যা আপনি-
          </p>
          <ul class="text-info">
            <li>আপনার সিভিতে যোগ করতে পারবেন</li>
            <li>লিংকডইন প্রোফাইলে সরাসরি শেয়ার করতে পারবেন</li>
            <li>ফেসবুকে এক ক্লিকেই শেয়ার করতে পারবেন</li>
          </ul>
          <img class="img-fluid" src="/assets/images/courses/certificate.png" alt="certificate" />
        </div>
        <div class="col-md-4 pt-md-5 order-0 order-md-1">
          <div class="card border-0 rounded-4 shadow pb-3">
            <div class="card-body text-center">
              <img class="img-fluid" src="/assets/images/courses/course-promo.png" alt="" />
              <div class="d-flex gap-2 pt-3">
                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z" fill="#272454"></path>
                  </svg>
                </span>
                <h4 class="text-info fw-semibold">২১,০০০</h4>
                <p class="mb-0 mt-1 text-decoration-line-through text-info fs-6">
                  ১৪,৫০০
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <a class="btn btn-primary rounded-4" href="#" role="button">কোর্সে ভর্তি হোন</a>
              </div>
              <div class="d-flex gap-5 justify-content-between pt-2">
                <div class="d-flex gap-2 align-items-center">
                  <span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_371_302)">
                        <path d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z" fill="#525076"></path>
                        <path d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z" fill="#525076"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_371_302">
                          <rect width="16" height="16" fill="white"></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info-emphasis">কোর্সের মেয়াদ</h6>
                </div>
                <div class="d-flex gap-2 align-items-center">
                  <h6 class="mb-0 text-info-emphasis">৩ মাস</h6>
                </div>
              </div>
              <div class="d-flex gap-5 justify-content-between pt-2">
                <div class="d-flex gap-2 align-items-center">
                  <span>
                    <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.9348 2.64286H15.7826V1.2143C15.7826 0.819796 15.4614 0.5 15.0652 0.5C14.669 0.5 14.3478 0.819796 14.3478 1.2143V2.64286H5.73911V1.2143C5.73911 0.819796 5.41793 0.5 5.02175 0.5C4.62557 0.5 4.30434 0.819796 4.30434 1.2143V2.64286H2.15217C0.96356 2.64286 0 3.60224 0 4.78571V18.3571C0 19.5406 0.96356 20.5 2.15217 20.5H17.9348C19.1234 20.5 20.087 19.5406 20.087 18.3571V4.78571C20.087 3.60224 19.1234 2.64286 17.9348 2.64286ZM18.6521 18.3571C18.6521 18.7516 18.331 19.0714 17.9347 19.0714H2.15217C1.75595 19.0714 1.43477 18.7516 1.43477 18.3571V9.07142H18.6521V18.3571ZM18.6521 7.64287H1.43477V4.78571C1.43477 4.39121 1.75595 4.07141 2.15217 4.07141H4.30434V5.49997C4.30434 5.89447 4.62553 6.21427 5.02175 6.21427C5.41797 6.21427 5.73915 5.89447 5.73915 5.49997V4.07141H14.3478V5.49997C14.3478 5.89447 14.669 6.21427 15.0652 6.21427C15.4615 6.21427 15.7827 5.89447 15.7827 5.49997V4.07141H17.9348C18.331 4.07141 18.6522 4.39121 18.6522 4.78571V7.64287H18.6521Z" fill="#272454" />
                      <path d="M5.73957 10.5H4.30481C3.90859 10.5 3.5874 10.8198 3.5874 11.2143C3.5874 11.6088 3.90859 11.9286 4.30481 11.9286H5.73957C6.13579 11.9286 6.45698 11.6088 6.45698 11.2143C6.45698 10.8198 6.13579 10.5 5.73957 10.5ZM10.7613 10.5H9.32656C8.93034 10.5 8.60915 10.8198 8.60915 11.2143C8.60915 11.6088 8.93034 11.9286 9.32656 11.9286H10.7613C11.1575 11.9286 11.4787 11.6088 11.4787 11.2143C11.4787 10.8198 11.1575 10.5 10.7613 10.5ZM15.7831 10.5H14.3483C13.9521 10.5 13.6309 10.8198 13.6309 11.2143C13.6309 11.6088 13.9521 11.9286 14.3483 11.9286H15.7831C16.1793 11.9286 16.5005 11.6088 16.5005 11.2143C16.5004 10.8198 16.1792 10.5 15.7831 10.5ZM5.73957 13.3572H4.30481C3.90859 13.3572 3.5874 13.677 3.5874 14.0715C3.5874 14.466 3.90859 14.7858 4.30481 14.7858H5.73957C6.13579 14.7858 6.45698 14.466 6.45698 14.0715C6.45698 13.677 6.13579 13.3572 5.73957 13.3572ZM10.7613 13.3572H9.32656C8.93034 13.3572 8.60915 13.677 8.60915 14.0715C8.60915 14.466 8.93034 14.7858 9.32656 14.7858H10.7613C11.1575 14.7858 11.4787 14.466 11.4787 14.0715C11.4787 13.677 11.1575 13.3572 10.7613 13.3572ZM15.7831 13.3572H14.3483C13.9521 13.3572 13.6309 13.677 13.6309 14.0715C13.6309 14.466 13.9521 14.7858 14.3483 14.7858H15.7831C16.1793 14.7858 16.5005 14.466 16.5005 14.0715C16.5004 13.677 16.1792 13.3572 15.7831 13.3572ZM5.73957 16.2143H4.30481C3.90859 16.2143 3.5874 16.5341 3.5874 16.9286C3.5874 17.3231 3.90859 17.6429 4.30481 17.6429H5.73957C6.13579 17.6429 6.45698 17.3231 6.45698 16.9286C6.45698 16.5341 6.13579 16.2143 5.73957 16.2143ZM10.7613 16.2143H9.32656C8.93034 16.2143 8.60915 16.5341 8.60915 16.9286C8.60915 17.3231 8.93034 17.6429 9.32656 17.6429H10.7613C11.1575 17.6429 11.4787 17.3231 11.4787 16.9286C11.4787 16.5341 11.1575 16.2143 10.7613 16.2143ZM15.7831 16.2143H14.3483C13.9521 16.2143 13.6309 16.5341 13.6309 16.9286C13.6309 17.3231 13.9521 17.6429 14.3483 17.6429H15.7831C16.1793 17.6429 16.5005 17.3231 16.5005 16.9286C16.5005 16.5341 16.1792 16.2143 15.7831 16.2143Z" fill="#272454" />
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info-emphasis">ক্লাস শুরু</h6>
                </div>
                <div class="d-flex gap-2 align-items-center">
                  <h6 class="mb-0 text-info-emphasis">১ জুন ২০২৩</h6>
                </div>
              </div>
              <div class="d-flex gap-5 justify-content-between pt-2">
                <div class="d-flex gap-2 align-items-center">
                  <span>
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.7906 0H11.2469C10.0287 0 9.0375 0.991172 9.0375 2.20936V8.97309L7.07972 7.9995C7.01353 7.96657 6.94649 7.93537 6.87867 7.90594C7.45345 7.30594 7.80773 6.49294 7.80773 5.59847C7.80773 3.75731 6.30994 2.25933 4.46883 2.25933C2.62753 2.25933 1.12973 3.75731 1.12973 5.59847C1.12973 6.59892 1.57266 7.49761 2.27208 8.11013C0.984047 8.83481 0 10.2486 0 12V14.2594C0 15.232 0.631547 16.0598 1.50623 16.3541V20.2844C1.50623 20.6726 1.821 20.9875 2.20936 20.9875H6.72802C7.11638 20.9875 7.43114 20.6726 7.43114 20.2844V12.3844L9.68227 13.5098C10.5438 13.9404 11.7123 13.6837 12.2408 12.7032H14.7618L12.0922 20.044C11.9595 20.409 12.1479 20.8125 12.5129 20.9451C12.93 21.0969 13.301 20.8352 13.4139 20.5247L16.2581 12.7031H16.751L19.6243 20.5268C19.7334 20.8237 20.1017 21.1005 20.5268 20.9443C20.8913 20.8105 21.0784 20.4066 20.9444 20.042L18.249 12.7031H21.7906C22.9853 12.7031 24 11.7394 24 10.4938V2.20936C24 0.963516 22.9853 0 21.7906 0ZM2.53603 5.59847C2.53603 4.53258 3.40303 3.66558 4.46869 3.66558C5.53453 3.66558 6.40153 4.53258 6.40153 5.59847C6.40153 6.66412 5.53453 7.53113 4.46869 7.53113C3.40303 7.53113 2.53603 6.66412 2.53603 5.59847ZM11.0391 11.9513C11.0372 11.9564 11.0354 11.9617 11.0338 11.967C10.9858 12.1008 10.8774 12.2137 10.7446 12.2682C10.6754 12.2964 10.6009 12.3096 10.5262 12.3068C10.4514 12.304 10.3782 12.2852 10.3112 12.2519C8.97417 11.583 7.04222 10.6178 7.04222 10.6178C6.57567 10.3846 6.02489 10.7244 6.02489 11.2469V19.5812H2.91248V15.7655C2.91248 15.3773 2.59753 15.0624 2.20936 15.0624C1.76639 15.0624 1.40625 14.7022 1.40625 14.2593V12C1.40625 10.2819 2.80519 8.93756 4.46869 8.93756H5.08997C5.5613 8.93756 6.03206 9.04819 6.45263 9.25819C6.45263 9.25819 9.94027 10.9926 10.8285 11.4349C11.0187 11.5294 11.1092 11.7513 11.0391 11.9513ZM22.5938 10.4938C22.5938 10.7085 22.5105 10.9102 22.3588 11.0617C22.2096 11.2112 22.0025 11.2969 21.7907 11.2969H12.3937C12.3924 11.293 12.3915 11.2892 12.3902 11.2855L14.1352 7.79569C14.3088 7.44834 14.1682 7.02614 13.8208 6.85238C13.4737 6.67875 13.0512 6.81938 12.8775 7.16677L11.3892 10.1431C11.1118 10.0049 10.7893 9.84431 10.4438 9.67252V2.20941C10.4438 1.76662 10.8039 1.4063 11.2469 1.4063H21.7906C22.0025 1.4063 22.2096 1.49198 22.359 1.64175C22.5104 1.79302 22.5938 1.99462 22.5938 2.20941V10.4938Z" fill="#272454" />
                      <path d="M20.2842 3.01245H12.7529C12.3646 3.01245 12.0498 3.32717 12.0498 3.71558C12.0498 4.10398 12.3646 4.4187 12.7529 4.4187H20.2842C20.6725 4.4187 20.9874 4.10394 20.9874 3.71558C20.9874 3.32722 20.6726 3.01245 20.2842 3.01245ZM20.2842 5.64842H16.5185C16.1304 5.64842 15.8154 5.96319 15.8154 6.35154C15.8154 6.7399 16.1304 7.05467 16.5185 7.05467H20.2842C20.6725 7.05467 20.9874 6.7399 20.9874 6.35154C20.9874 5.96319 20.6726 5.64842 20.2842 5.64842ZM20.2842 8.28439H16.5185C16.1304 8.28439 15.8154 8.59915 15.8154 8.98751C15.8154 9.37573 16.1304 9.69064 16.5185 9.69064H20.2842C20.6725 9.69064 20.9874 9.37573 20.9874 8.98751C20.9874 8.59915 20.6726 8.28439 20.2842 8.28439Z" fill="#272454" />
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info-emphasis">মোট ক্লাস</h6>
                </div>
                <div class="d-flex gap-2 align-items-center">
                  <h6 class="mb-0 text-info-emphasis">৩৪ টি</h6>
                </div>
              </div>
              <div class="d-flex gap-5 justify-content-between pt-2">
                <div class="d-flex gap-2 align-items-center">
                  <span>
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_197_1480)">
                        <path d="M20.0227 8.54365C19.4386 8.14367 19.2573 7.34952 19.6101 6.73569C20.1952 5.71747 20.1002 4.46624 19.3679 3.5481C18.6357 2.62992 17.4371 2.25895 16.3142 2.60278C15.6371 2.81015 14.9033 2.45662 14.6434 1.79817C14.2121 0.705795 13.1747 0 12.0003 0C10.8259 0 9.78838 0.705795 9.35713 1.79817C9.09721 2.45667 8.36324 2.81001 7.68632 2.60278C6.56362 2.2589 5.3648 2.62992 4.63256 3.5481C3.90028 4.46629 3.80527 5.71752 4.39041 6.73569C4.74319 7.34947 4.56192 8.14367 3.97777 8.54365C3.00877 9.20712 2.5515 10.3757 2.81278 11.5206C3.07407 12.6656 3.9931 13.5199 5.154 13.6974C5.85379 13.8043 6.36173 14.4411 6.31026 15.1473C6.29483 15.358 6.30265 15.5698 6.33361 15.7789L4.01302 20.9117C3.95525 21.0396 3.93513 21.1812 3.95501 21.3201C3.97489 21.459 4.03395 21.5893 4.12527 21.6958C4.21658 21.8023 4.33637 21.8806 4.47058 21.9214C4.60479 21.9622 4.74786 21.964 4.88302 21.9264L7.40765 21.2236L8.54784 23.5833C8.60817 23.7082 8.7025 23.8135 8.81998 23.8872C8.93747 23.9609 9.07336 24 9.21205 24L9.22148 24C9.36176 23.9982 9.49863 23.9565 9.61603 23.8796C9.73342 23.8028 9.82648 23.6941 9.88429 23.5663L11.9574 18.9806L14.1752 23.5826C14.2354 23.7076 14.3298 23.8132 14.4473 23.887C14.5649 23.9609 14.7009 24 14.8397 24L14.8484 24C14.9887 23.9984 15.1257 23.9567 15.2431 23.88C15.3606 23.8033 15.4538 23.6947 15.5117 23.5669L16.5938 21.1801L19.1348 21.8209C19.2709 21.8552 19.4138 21.85 19.547 21.8059C19.6802 21.7618 19.798 21.6806 19.8867 21.5719C19.9754 21.4632 20.0313 21.3315 20.0477 21.1922C20.0642 21.0528 20.0407 20.9117 19.9798 20.7853L17.64 15.9302C17.6925 15.6727 17.7094 15.4093 17.6901 15.1473C17.6386 14.4412 18.1466 13.8043 18.8464 13.6974C20.0073 13.5201 20.9263 12.6656 21.1877 11.5207C21.449 10.3757 20.9917 9.20717 20.0227 8.54365ZM9.18988 21.5206L8.46801 20.0266C8.39277 19.8709 8.26523 19.7466 8.10767 19.6754C7.9501 19.6041 7.77252 19.5905 7.60593 19.6368L6.0075 20.0818L7.20492 17.4332C7.41508 17.6279 7.65322 17.7899 7.91142 17.914C8.94341 18.4109 10.1492 18.2462 11.0083 17.4983L9.18988 21.5206ZM17.9656 20.0043L16.3568 19.5987C16.1891 19.5564 16.0119 19.5743 15.8561 19.6494C15.7003 19.7245 15.5758 19.8519 15.5044 20.0094L14.8194 21.5206L12.8051 17.3408C12.8478 17.3717 12.8886 17.4051 12.9275 17.4408C13.4666 17.9391 14.1536 18.1984 14.8514 18.1984C15.2699 18.1984 15.6924 18.1051 16.089 17.9141C16.3276 17.7993 16.5492 17.652 16.7474 17.4764L17.9656 20.0043ZM19.7492 11.1923C19.6492 11.6303 19.301 12.1353 18.6236 12.2388C17.9166 12.346 17.2763 12.7165 16.8311 13.2761C16.3846 13.8347 16.1659 14.5413 16.2187 15.2545C16.2685 15.9379 15.8537 16.3897 15.4489 16.5847C15.0441 16.7797 14.4322 16.8223 13.9289 16.3571C13.4043 15.8712 12.7153 15.6017 12.0003 15.6025C11.2852 15.6017 10.5963 15.8713 10.0716 16.3571C9.5683 16.8222 8.9564 16.7796 8.55163 16.5847C8.14682 16.3897 7.73202 15.9379 7.78185 15.2544C7.83469 14.5413 7.61592 13.8346 7.16943 13.276C6.72424 12.7164 6.08395 12.3459 5.37698 12.2387C4.69955 12.1352 4.35136 11.6302 4.25138 11.1922C4.15139 10.7541 4.24603 10.1481 4.81144 9.7609C5.40188 9.35755 5.81802 8.74591 5.97642 8.04861C6.13631 7.35165 6.02679 6.62 5.66981 6.00041C5.32837 5.40627 5.50603 4.81916 5.78615 4.46788C6.06633 4.11665 6.59915 3.81281 7.25437 4.01338C7.93785 4.22353 8.6755 4.1675 9.3194 3.85654C9.964 3.54701 10.4677 3.00521 10.7296 2.33981C10.9811 1.7025 11.5509 1.47539 12.0002 1.47539C12.4495 1.47539 13.0194 1.7025 13.271 2.3399C13.5328 3.00532 14.0365 3.54714 14.6811 3.85668C15.325 4.16764 16.0627 4.22367 16.7462 4.01352C17.4012 3.81276 17.9342 4.11669 18.2144 4.46802C18.4945 4.81935 18.6722 5.40641 18.3307 6.00055C17.9737 6.62014 17.8642 7.35179 18.0241 8.04875C18.1825 8.74607 18.5986 9.35773 19.1891 9.76109C19.7545 10.1482 19.8491 10.7543 19.7492 11.1923Z" fill="#272454" />
                        <path d="M12 3.89697C8.95548 3.89697 6.47852 6.37389 6.47852 9.41843C6.47852 12.463 8.95539 14.9399 12 14.9399C15.0446 14.9399 17.5214 12.463 17.5214 9.41843C17.5214 6.37385 15.0445 3.89697 12 3.89697ZM12 13.4645C9.76905 13.4645 7.954 11.6494 7.954 9.41847C7.954 7.1875 9.769 5.37246 12 5.37246C14.231 5.37246 16.046 7.1875 16.046 9.41847C16.046 11.6494 14.231 13.4645 12 13.4645Z" fill="#272454" />
                        <path d="M14.5058 8.16984C14.2655 7.84091 13.8041 7.76887 13.4749 8.00919L11.4107 9.51693L11.0437 8.99432C10.8095 8.66085 10.3493 8.58046 10.016 8.8146C9.68251 9.04874 9.60207 9.50891 9.83621 9.84229L10.6352 10.9799C10.6915 11.0601 10.7633 11.1283 10.8463 11.1805C10.9293 11.2327 11.0219 11.2678 11.1186 11.2838C11.2153 11.2997 11.3142 11.2963 11.4096 11.2736C11.505 11.2509 11.5949 11.2095 11.674 11.1516L14.3452 9.20066C14.6742 8.96038 14.7461 8.49885 14.5058 8.16984Z" fill="#272454" />
                      </g>
                      <defs>
                        <clipPath id="clip0_197_1480">
                          <rect width="24" height="24" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info-emphasis">সার্টিফিকেট</h6>
                </div>
                <div class="d-flex gap-2 align-items-center">
                  <h6 class="mb-0 text-info-emphasis">হ্যাঁ</h6>
                </div>
              </div>
            </div>
          </div>
          <img class="img-fluid pt-5 d-none d-md-block" src="/assets/images/courses/promotion.png" alt="promotional image" />
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%> <%- include("/_components/scripts")
    -%>
</body>

</html>