<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Bhasha Skool</title>
    <%- include("/_components/head-seo") -%>
    <!-- slick css -->
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <!-- nav-bar -->
    <%- include("/_components/nav") -%>
    <!-- hero section -->
    <section class="bg-gradient py-5 top-margin">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-1 order-md-0">
            <h2 class="display-3 fw-bold text-light">
              সহজ কৌশলে ইংরেজির প্রতি <br />
              জমা হওয়া ভীতি কাটিয়ে উঠুন
            </h2>
            <p class="text-light h2">
              সঠিক নির্দেশনা, দুর্দান্ত সব Techniques ও Expert দের<br />তত্ত্বাবধায়নে
              হয়ে উঠুন ভাষা Expert
            </p>
            <div class="d-flex gap-4 pt-3">
              <a class="btn btn-danger rounded-4" href="#" role="button"
                >শিখতে শুরু করুন</a
              >
              <a class="btn btn-light rounded-4" href="#" role="button"
                >ফ্রি ক্লাস করুন</a
              >
            </div>
          </div>

          <div class="col-md-6 order-0 order-md-1">
            <img
              class="img-fluid"
              src="/assets/images/home/hero-banner.png"
              alt="hero banner"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- student counter -->
    <section class="z-3 position-relative top-50px">
      <div class="container shadow-lg rounded-5 p-5 bg-white">
        <div class="row">
          <div class="col-md-2 col-5">
            <h6 class="h4 text-center text-primary font-semibold">
              ১ কোটি + <br />
              <span class="text-info">মোট শিক্ষার্থী</span>
            </h6>
          </div>
          <div class="col-md-1 text-center col-2 d-md-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-md-2 col-5">
            <h6 class="h4 text-center text-primary font-semibold">
              ৫০,০০০ +<br />
              <span class="text-info">শিক্ষার্থী</span>
            </h6>
          </div>
          <div class="col-md-1 text-center d-md-flex d-none justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-md-2 col-5">
            <h6 class="h4 text-center text-primary font-semibold">
              ৩ +<br/>
              <span class="text-info">সফলতার বছর</span>
            </h6>
          </div>
          <div class="col-md-1 text-center col-2 d-md-flex justify-content-center">
            <div class="vr"></div>
          </div>
          <div class="col-md-2 col-5">
            <h6 class="h4 text-center text-primary font-semibold">
              ১০ +<br />
              <span class="text-info">ল্যাংগুয়েজ কোর্স</span>
            </h6>
          </div>
        </div>
      </div>
    </section>
    <!-- course list -->
    <section class="py-5 course-list">
      <div class="container w-75">
        <h2 class="text-center h4 text-info">কোর্সসমূহ</h2>
        <h3 class="h1 text-primary text-center fw-semibold">
          গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
        </h3>
        <div class="row pt-5">
          <div class="col-md-4">
            <div class="row h-50">
              <div class="col-md-12 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card-hover border-0 card">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    Basic English <br />
                    <span class="text-info">মাস্টার ক্লাস</span>
                </h5>
                <button type="button" class="mybuttonoverlap btn btn-dark">Read More</button>
                </div>
              </div>
              <div class="col-md-12 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card border-0 course-list-hover">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    তুখোড়
                    <br />
                    <span class="text-info"> Writing </span>
                  </h5>                  
                </div>
              </div>
              </div>
              </div>
          <div class="col-md-8">
            <div class="row h-50">
              <div class="col-md-6 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card-hover border-0 card">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    Basic English <br />
                    <span class="text-info">মাস্টার ক্লাস</span>
                </h5>
                </div>
              </div>
              <div class="col-md-6 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card border-0 card-hover">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    তুখোড়
                    <br />
                    <span class="text-info"> Writing </span>
                  </h5>
                </div>
              </div>
              <div class="col-md-6 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card border-0 course-list-hover">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    দুর্দান্ত
                    <br />
                    <span class="text-info"> Spoken </span>
                  </h5>
                </div>
              </div>
              <div class="col-md-6 h-100 py-2 col-6">
                <div class="p-5 rounded-5 shadow h-100 card border-0 course-list-hover">
                  <h5
                    class="fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100"
                  >
                    Kid's
                    <br />
                    <span class="text-info"> English</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>   
    <!-- whatyou get from bhasha skool -->
    <section class="py-5 what-you-get-gradient">
      <div class="container">
        <h2 class="h1 fw-semibold text-light-emphasis text-center">
          ভাষা স্কুলের কোর্সগুলোতে যা যা পাবেন
        </h2>
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                <img
                class="img-fluid w-75"
                src="/assets/images/home/free-material.png"
                alt="free material"
              />
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">2</div>
              <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">3</div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">4</div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">5</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link text-start rounded-4 py-3 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">ফ্রি কোর্স ম্যাটেরিয়ালস।</button>
              <button class="nav-link text-start rounded-4 py-3 mt-4" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">ল্যাংগুয়েজ ক্লাব।</button>
              <button class="nav-link text-start rounded-4 py-3 mt-4" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">৬মাস/১ বছরের মেম্বারশিপ (শর্ত প্রযোজ্য)।</button>
              <button class="nav-link text-start rounded-4 py-3 mt-4" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">অভিজ্ঞ শিক্ষকদের তত্ত্বাবধায়ন। </button>
              <button class="nav-link text-start rounded-4 py-3 mt-4" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">কোর্স শেষে সার্টিফিকেট</button>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- running course -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <h2 class="text-center h4 text-info">চলমান কোর্স</h2>
        <h3 class="h1 text-primary text-center fw-semibold">
          গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
        </h3>
        <div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
          <div class="col">
            <div class="card border-0 rounded-5 bg-info">
              <img
                src="/assets/images/course.png"
                class="card-img-top"
                alt="course img"
              />
              <div class="card-body">
                <h4 class="text-light fw-semibold secondary-font-family">
                  IELTS প্রিপারেশন
                </h4>
                <div class="d-flex gap-5">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg                        
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_371_302)">
                          <path
                            d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z"
                            fill="#F9E8EA"
                          />
                          <path
                            d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z"
                            fill="#F9E8EA"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_371_302">
                            <rect width="16" height="16" fill="#F9E8EA" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">৬ মাস</h6>
                  </div>
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.2857 2.30426H12.5714V1.16636C12.5714 0.852126 12.3156 0.597397 12 0.597397C11.6844 0.597397 11.4286 0.852126 11.4286 1.16636V2.30426H4.57141V1.16636C4.57141 0.852126 4.31558 0.597397 4.00001 0.597397C3.68444 0.597397 3.42857 0.852126 3.42857 1.16636V2.30426H1.71428C0.767511 2.30426 0 3.06845 0 4.01112V14.8213C0 15.7639 0.767511 16.5281 1.71428 16.5281H14.2857C15.2325 16.5281 16 15.7639 16 14.8213V4.01112C16 3.06845 15.2325 2.30426 14.2857 2.30426ZM14.8571 14.8213C14.8571 15.1355 14.6013 15.3902 14.2857 15.3902H1.71428C1.39868 15.3902 1.14285 15.1355 1.14285 14.8213V7.42485H14.8571V14.8213ZM14.8571 6.28695H1.14285V4.01112C1.14285 3.69689 1.39868 3.44216 1.71428 3.44216H3.42857V4.58006C3.42857 4.89429 3.68441 5.14902 4.00001 5.14902C4.31561 5.14902 4.57145 4.89429 4.57145 4.58006V3.44216H11.4286V4.58006C11.4286 4.89429 11.6844 5.14902 12 5.14902C12.3156 5.14902 12.5715 4.89429 12.5715 4.58006V3.44216H14.2857C14.6014 3.44216 14.8572 3.69689 14.8572 4.01112V6.28695H14.8571Z"
                          fill="#F9E8EA"
                        />
                        <path
                          d="M4.57171 8.56273H3.42886C3.11326 8.56273 2.85742 8.81746 2.85742 9.13169C2.85742 9.44593 3.11326 9.70066 3.42886 9.70066H4.57171C4.88731 9.70066 5.14315 9.44593 5.14315 9.13169C5.14315 8.81746 4.88731 8.56273 4.57171 8.56273ZM8.57171 8.56273H7.42887C7.11327 8.56273 6.85743 8.81746 6.85743 9.13169C6.85743 9.44593 7.11327 9.70066 7.42887 9.70066H8.57171C8.88732 9.70066 9.14315 9.44593 9.14315 9.13169C9.14315 8.81746 8.88732 8.56273 8.57171 8.56273ZM12.5717 8.56273H11.4289C11.1133 8.56273 10.8574 8.81746 10.8574 9.13169C10.8574 9.44593 11.1133 9.70066 11.4289 9.70066H12.5717C12.8873 9.70066 13.1432 9.44593 13.1432 9.13169C13.1431 8.81746 12.8873 8.56273 12.5717 8.56273ZM4.57171 10.8386H3.42886C3.11326 10.8386 2.85742 11.0933 2.85742 11.4075C2.85742 11.7218 3.11326 11.9765 3.42886 11.9765H4.57171C4.88731 11.9765 5.14315 11.7218 5.14315 11.4075C5.14315 11.0933 4.88731 10.8386 4.57171 10.8386ZM8.57171 10.8386H7.42887C7.11327 10.8386 6.85743 11.0933 6.85743 11.4075C6.85743 11.7218 7.11327 11.9765 7.42887 11.9765H8.57171C8.88732 11.9765 9.14315 11.7218 9.14315 11.4075C9.14315 11.0933 8.88732 10.8386 8.57171 10.8386ZM12.5717 10.8386H11.4289C11.1133 10.8386 10.8574 11.0933 10.8574 11.4075C10.8574 11.7218 11.1133 11.9765 11.4289 11.9765H12.5717C12.8873 11.9765 13.1432 11.7218 13.1432 11.4075C13.1431 11.0933 12.8873 10.8386 12.5717 10.8386ZM4.57171 13.1144H3.42886C3.11326 13.1144 2.85742 13.3691 2.85742 13.6834C2.85742 13.9976 3.11326 14.2523 3.42886 14.2523H4.57171C4.88731 14.2523 5.14315 13.9976 5.14315 13.6833C5.14315 13.3691 4.88731 13.1144 4.57171 13.1144ZM8.57171 13.1144H7.42887C7.11327 13.1144 6.85743 13.3691 6.85743 13.6834C6.85743 13.9976 7.11327 14.2523 7.42887 14.2523H8.57171C8.88732 14.2523 9.14315 13.9976 9.14315 13.6834C9.14315 13.3691 8.88732 13.1144 8.57171 13.1144ZM12.5717 13.1144H11.4289C11.1133 13.1144 10.8574 13.3691 10.8574 13.6834C10.8574 13.9976 11.1133 14.2523 11.4289 14.2523H12.5717C12.8873 14.2523 13.1432 13.9976 13.1432 13.6834C13.1432 13.3691 12.8873 13.1144 12.5717 13.1144Z"
                          fill="#F9E8EA"
                        />
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">১ জুন ২০২৩</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-info border-top-0 rounded-5">
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="#F9E8EA"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#F9E8EA"
                      />
                    </svg>
                  </span>
                  <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                  <p
                    class="mb-0 mt-1 text-decoration-line-through text-light fs-6"
                  >
                    ১২০০০
                  </p>
                </div>
                <div class="d-flex justify-content-center pt-2 pb-2">
                  <a class="btn btn-danger rounded-4" href="#" role="button"
                    >রেজিস্ট্রেশন করুন</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-5 bg-info">
              <img
                src="/assets/images/course.png"
                class="card-img-top"
                alt="course img"
              />
              <div class="card-body">
                <h4 class="text-light fw-semibold secondary-font-family">
                  IELTS প্রিপারেশন
                </h4>
                <div class="d-flex gap-5">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg                        
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_371_302)">
                          <path
                            d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z"
                            fill="#F9E8EA"
                          />
                          <path
                            d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z"
                            fill="#F9E8EA"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_371_302">
                            <rect width="16" height="16" fill="#F9E8EA" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">৬ মাস</h6>
                  </div>
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.2857 2.30426H12.5714V1.16636C12.5714 0.852126 12.3156 0.597397 12 0.597397C11.6844 0.597397 11.4286 0.852126 11.4286 1.16636V2.30426H4.57141V1.16636C4.57141 0.852126 4.31558 0.597397 4.00001 0.597397C3.68444 0.597397 3.42857 0.852126 3.42857 1.16636V2.30426H1.71428C0.767511 2.30426 0 3.06845 0 4.01112V14.8213C0 15.7639 0.767511 16.5281 1.71428 16.5281H14.2857C15.2325 16.5281 16 15.7639 16 14.8213V4.01112C16 3.06845 15.2325 2.30426 14.2857 2.30426ZM14.8571 14.8213C14.8571 15.1355 14.6013 15.3902 14.2857 15.3902H1.71428C1.39868 15.3902 1.14285 15.1355 1.14285 14.8213V7.42485H14.8571V14.8213ZM14.8571 6.28695H1.14285V4.01112C1.14285 3.69689 1.39868 3.44216 1.71428 3.44216H3.42857V4.58006C3.42857 4.89429 3.68441 5.14902 4.00001 5.14902C4.31561 5.14902 4.57145 4.89429 4.57145 4.58006V3.44216H11.4286V4.58006C11.4286 4.89429 11.6844 5.14902 12 5.14902C12.3156 5.14902 12.5715 4.89429 12.5715 4.58006V3.44216H14.2857C14.6014 3.44216 14.8572 3.69689 14.8572 4.01112V6.28695H14.8571Z"
                          fill="#F9E8EA"
                        />
                        <path
                          d="M4.57171 8.56273H3.42886C3.11326 8.56273 2.85742 8.81746 2.85742 9.13169C2.85742 9.44593 3.11326 9.70066 3.42886 9.70066H4.57171C4.88731 9.70066 5.14315 9.44593 5.14315 9.13169C5.14315 8.81746 4.88731 8.56273 4.57171 8.56273ZM8.57171 8.56273H7.42887C7.11327 8.56273 6.85743 8.81746 6.85743 9.13169C6.85743 9.44593 7.11327 9.70066 7.42887 9.70066H8.57171C8.88732 9.70066 9.14315 9.44593 9.14315 9.13169C9.14315 8.81746 8.88732 8.56273 8.57171 8.56273ZM12.5717 8.56273H11.4289C11.1133 8.56273 10.8574 8.81746 10.8574 9.13169C10.8574 9.44593 11.1133 9.70066 11.4289 9.70066H12.5717C12.8873 9.70066 13.1432 9.44593 13.1432 9.13169C13.1431 8.81746 12.8873 8.56273 12.5717 8.56273ZM4.57171 10.8386H3.42886C3.11326 10.8386 2.85742 11.0933 2.85742 11.4075C2.85742 11.7218 3.11326 11.9765 3.42886 11.9765H4.57171C4.88731 11.9765 5.14315 11.7218 5.14315 11.4075C5.14315 11.0933 4.88731 10.8386 4.57171 10.8386ZM8.57171 10.8386H7.42887C7.11327 10.8386 6.85743 11.0933 6.85743 11.4075C6.85743 11.7218 7.11327 11.9765 7.42887 11.9765H8.57171C8.88732 11.9765 9.14315 11.7218 9.14315 11.4075C9.14315 11.0933 8.88732 10.8386 8.57171 10.8386ZM12.5717 10.8386H11.4289C11.1133 10.8386 10.8574 11.0933 10.8574 11.4075C10.8574 11.7218 11.1133 11.9765 11.4289 11.9765H12.5717C12.8873 11.9765 13.1432 11.7218 13.1432 11.4075C13.1431 11.0933 12.8873 10.8386 12.5717 10.8386ZM4.57171 13.1144H3.42886C3.11326 13.1144 2.85742 13.3691 2.85742 13.6834C2.85742 13.9976 3.11326 14.2523 3.42886 14.2523H4.57171C4.88731 14.2523 5.14315 13.9976 5.14315 13.6833C5.14315 13.3691 4.88731 13.1144 4.57171 13.1144ZM8.57171 13.1144H7.42887C7.11327 13.1144 6.85743 13.3691 6.85743 13.6834C6.85743 13.9976 7.11327 14.2523 7.42887 14.2523H8.57171C8.88732 14.2523 9.14315 13.9976 9.14315 13.6834C9.14315 13.3691 8.88732 13.1144 8.57171 13.1144ZM12.5717 13.1144H11.4289C11.1133 13.1144 10.8574 13.3691 10.8574 13.6834C10.8574 13.9976 11.1133 14.2523 11.4289 14.2523H12.5717C12.8873 14.2523 13.1432 13.9976 13.1432 13.6834C13.1432 13.3691 12.8873 13.1144 12.5717 13.1144Z"
                          fill="#F9E8EA"
                        />
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">১ জুন ২০২৩</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-info border-top-0 rounded-5">
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="#F9E8EA"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#F9E8EA"
                      />
                    </svg>
                  </span>
                  <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                  <p
                    class="mb-0 mt-1 text-decoration-line-through text-light fs-6"
                  >
                    ১২০০০
                  </p>
                </div>
                <div class="d-flex justify-content-center pt-2 pb-2">
                  <a class="btn btn-danger rounded-4" href="#" role="button"
                    >রেজিস্ট্রেশন করুন</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-5 bg-info">
              <img
                src="/assets/images/course.png"
                class="card-img-top"
                alt="course img"
              />
              <div class="card-body">
                <h4 class="text-light fw-semibold secondary-font-family">
                  IELTS প্রিপারেশন
                </h4>
                <div class="d-flex gap-5">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg                        
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_371_302)">
                          <path
                            d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z"
                            fill="#F9E8EA"
                          />
                          <path
                            d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z"
                            fill="#F9E8EA"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_371_302">
                            <rect width="16" height="16" fill="#F9E8EA" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">৬ মাস</h6>
                  </div>
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.2857 2.30426H12.5714V1.16636C12.5714 0.852126 12.3156 0.597397 12 0.597397C11.6844 0.597397 11.4286 0.852126 11.4286 1.16636V2.30426H4.57141V1.16636C4.57141 0.852126 4.31558 0.597397 4.00001 0.597397C3.68444 0.597397 3.42857 0.852126 3.42857 1.16636V2.30426H1.71428C0.767511 2.30426 0 3.06845 0 4.01112V14.8213C0 15.7639 0.767511 16.5281 1.71428 16.5281H14.2857C15.2325 16.5281 16 15.7639 16 14.8213V4.01112C16 3.06845 15.2325 2.30426 14.2857 2.30426ZM14.8571 14.8213C14.8571 15.1355 14.6013 15.3902 14.2857 15.3902H1.71428C1.39868 15.3902 1.14285 15.1355 1.14285 14.8213V7.42485H14.8571V14.8213ZM14.8571 6.28695H1.14285V4.01112C1.14285 3.69689 1.39868 3.44216 1.71428 3.44216H3.42857V4.58006C3.42857 4.89429 3.68441 5.14902 4.00001 5.14902C4.31561 5.14902 4.57145 4.89429 4.57145 4.58006V3.44216H11.4286V4.58006C11.4286 4.89429 11.6844 5.14902 12 5.14902C12.3156 5.14902 12.5715 4.89429 12.5715 4.58006V3.44216H14.2857C14.6014 3.44216 14.8572 3.69689 14.8572 4.01112V6.28695H14.8571Z"
                          fill="#F9E8EA"
                        />
                        <path
                          d="M4.57171 8.56273H3.42886C3.11326 8.56273 2.85742 8.81746 2.85742 9.13169C2.85742 9.44593 3.11326 9.70066 3.42886 9.70066H4.57171C4.88731 9.70066 5.14315 9.44593 5.14315 9.13169C5.14315 8.81746 4.88731 8.56273 4.57171 8.56273ZM8.57171 8.56273H7.42887C7.11327 8.56273 6.85743 8.81746 6.85743 9.13169C6.85743 9.44593 7.11327 9.70066 7.42887 9.70066H8.57171C8.88732 9.70066 9.14315 9.44593 9.14315 9.13169C9.14315 8.81746 8.88732 8.56273 8.57171 8.56273ZM12.5717 8.56273H11.4289C11.1133 8.56273 10.8574 8.81746 10.8574 9.13169C10.8574 9.44593 11.1133 9.70066 11.4289 9.70066H12.5717C12.8873 9.70066 13.1432 9.44593 13.1432 9.13169C13.1431 8.81746 12.8873 8.56273 12.5717 8.56273ZM4.57171 10.8386H3.42886C3.11326 10.8386 2.85742 11.0933 2.85742 11.4075C2.85742 11.7218 3.11326 11.9765 3.42886 11.9765H4.57171C4.88731 11.9765 5.14315 11.7218 5.14315 11.4075C5.14315 11.0933 4.88731 10.8386 4.57171 10.8386ZM8.57171 10.8386H7.42887C7.11327 10.8386 6.85743 11.0933 6.85743 11.4075C6.85743 11.7218 7.11327 11.9765 7.42887 11.9765H8.57171C8.88732 11.9765 9.14315 11.7218 9.14315 11.4075C9.14315 11.0933 8.88732 10.8386 8.57171 10.8386ZM12.5717 10.8386H11.4289C11.1133 10.8386 10.8574 11.0933 10.8574 11.4075C10.8574 11.7218 11.1133 11.9765 11.4289 11.9765H12.5717C12.8873 11.9765 13.1432 11.7218 13.1432 11.4075C13.1431 11.0933 12.8873 10.8386 12.5717 10.8386ZM4.57171 13.1144H3.42886C3.11326 13.1144 2.85742 13.3691 2.85742 13.6834C2.85742 13.9976 3.11326 14.2523 3.42886 14.2523H4.57171C4.88731 14.2523 5.14315 13.9976 5.14315 13.6833C5.14315 13.3691 4.88731 13.1144 4.57171 13.1144ZM8.57171 13.1144H7.42887C7.11327 13.1144 6.85743 13.3691 6.85743 13.6834C6.85743 13.9976 7.11327 14.2523 7.42887 14.2523H8.57171C8.88732 14.2523 9.14315 13.9976 9.14315 13.6834C9.14315 13.3691 8.88732 13.1144 8.57171 13.1144ZM12.5717 13.1144H11.4289C11.1133 13.1144 10.8574 13.3691 10.8574 13.6834C10.8574 13.9976 11.1133 14.2523 11.4289 14.2523H12.5717C12.8873 14.2523 13.1432 13.9976 13.1432 13.6834C13.1432 13.3691 12.8873 13.1144 12.5717 13.1144Z"
                          fill="#F9E8EA"
                        />
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">১ জুন ২০২৩</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-info border-top-0 rounded-5">
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="#F9E8EA"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#F9E8EA"
                      />
                    </svg>
                  </span>
                  <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                  <p
                    class="mb-0 mt-1 text-decoration-line-through text-light fs-6"
                  >
                    ১২০০০
                  </p>
                </div>
                <div class="d-flex justify-content-center pt-2 pb-2">
                  <a class="btn btn-danger rounded-4" href="#" role="button"
                    >রেজিস্ট্রেশন করুন</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 rounded-5 bg-info">
              <img
                src="/assets/images/course.png"
                class="card-img-top"
                alt="course img"
              />
              <div class="card-body">
                <h4 class="text-light fw-semibold secondary-font-family">
                  IELTS প্রিপারেশন
                </h4>
                <div class="d-flex gap-5">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg                        
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_371_302)">
                          <path
                            d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z"
                            fill="#F9E8EA"
                          />
                          <path
                            d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z"
                            fill="#F9E8EA"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_371_302">
                            <rect width="16" height="16" fill="#F9E8EA" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">৬ মাস</h6>
                  </div>
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.2857 2.30426H12.5714V1.16636C12.5714 0.852126 12.3156 0.597397 12 0.597397C11.6844 0.597397 11.4286 0.852126 11.4286 1.16636V2.30426H4.57141V1.16636C4.57141 0.852126 4.31558 0.597397 4.00001 0.597397C3.68444 0.597397 3.42857 0.852126 3.42857 1.16636V2.30426H1.71428C0.767511 2.30426 0 3.06845 0 4.01112V14.8213C0 15.7639 0.767511 16.5281 1.71428 16.5281H14.2857C15.2325 16.5281 16 15.7639 16 14.8213V4.01112C16 3.06845 15.2325 2.30426 14.2857 2.30426ZM14.8571 14.8213C14.8571 15.1355 14.6013 15.3902 14.2857 15.3902H1.71428C1.39868 15.3902 1.14285 15.1355 1.14285 14.8213V7.42485H14.8571V14.8213ZM14.8571 6.28695H1.14285V4.01112C1.14285 3.69689 1.39868 3.44216 1.71428 3.44216H3.42857V4.58006C3.42857 4.89429 3.68441 5.14902 4.00001 5.14902C4.31561 5.14902 4.57145 4.89429 4.57145 4.58006V3.44216H11.4286V4.58006C11.4286 4.89429 11.6844 5.14902 12 5.14902C12.3156 5.14902 12.5715 4.89429 12.5715 4.58006V3.44216H14.2857C14.6014 3.44216 14.8572 3.69689 14.8572 4.01112V6.28695H14.8571Z"
                          fill="#F9E8EA"
                        />
                        <path
                          d="M4.57171 8.56273H3.42886C3.11326 8.56273 2.85742 8.81746 2.85742 9.13169C2.85742 9.44593 3.11326 9.70066 3.42886 9.70066H4.57171C4.88731 9.70066 5.14315 9.44593 5.14315 9.13169C5.14315 8.81746 4.88731 8.56273 4.57171 8.56273ZM8.57171 8.56273H7.42887C7.11327 8.56273 6.85743 8.81746 6.85743 9.13169C6.85743 9.44593 7.11327 9.70066 7.42887 9.70066H8.57171C8.88732 9.70066 9.14315 9.44593 9.14315 9.13169C9.14315 8.81746 8.88732 8.56273 8.57171 8.56273ZM12.5717 8.56273H11.4289C11.1133 8.56273 10.8574 8.81746 10.8574 9.13169C10.8574 9.44593 11.1133 9.70066 11.4289 9.70066H12.5717C12.8873 9.70066 13.1432 9.44593 13.1432 9.13169C13.1431 8.81746 12.8873 8.56273 12.5717 8.56273ZM4.57171 10.8386H3.42886C3.11326 10.8386 2.85742 11.0933 2.85742 11.4075C2.85742 11.7218 3.11326 11.9765 3.42886 11.9765H4.57171C4.88731 11.9765 5.14315 11.7218 5.14315 11.4075C5.14315 11.0933 4.88731 10.8386 4.57171 10.8386ZM8.57171 10.8386H7.42887C7.11327 10.8386 6.85743 11.0933 6.85743 11.4075C6.85743 11.7218 7.11327 11.9765 7.42887 11.9765H8.57171C8.88732 11.9765 9.14315 11.7218 9.14315 11.4075C9.14315 11.0933 8.88732 10.8386 8.57171 10.8386ZM12.5717 10.8386H11.4289C11.1133 10.8386 10.8574 11.0933 10.8574 11.4075C10.8574 11.7218 11.1133 11.9765 11.4289 11.9765H12.5717C12.8873 11.9765 13.1432 11.7218 13.1432 11.4075C13.1431 11.0933 12.8873 10.8386 12.5717 10.8386ZM4.57171 13.1144H3.42886C3.11326 13.1144 2.85742 13.3691 2.85742 13.6834C2.85742 13.9976 3.11326 14.2523 3.42886 14.2523H4.57171C4.88731 14.2523 5.14315 13.9976 5.14315 13.6833C5.14315 13.3691 4.88731 13.1144 4.57171 13.1144ZM8.57171 13.1144H7.42887C7.11327 13.1144 6.85743 13.3691 6.85743 13.6834C6.85743 13.9976 7.11327 14.2523 7.42887 14.2523H8.57171C8.88732 14.2523 9.14315 13.9976 9.14315 13.6834C9.14315 13.3691 8.88732 13.1144 8.57171 13.1144ZM12.5717 13.1144H11.4289C11.1133 13.1144 10.8574 13.3691 10.8574 13.6834C10.8574 13.9976 11.1133 14.2523 11.4289 14.2523H12.5717C12.8873 14.2523 13.1432 13.9976 13.1432 13.6834C13.1432 13.3691 12.8873 13.1144 12.5717 13.1144Z"
                          fill="#F9E8EA"
                        />
                      </svg>
                    </span>
                    <h6 class="mb-0 text-light">১ জুন ২০২৩</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-info border-top-0 rounded-5">
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="#F9E8EA"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#F9E8EA"
                      />
                    </svg>
                  </span>
                  <h4 class="text-light fw-semibold">৮৯৯৯</h4>
                  <p
                    class="mb-0 mt-1 text-decoration-line-through text-light fs-6"
                  >
                    ১২০০০
                  </p>
                </div>
                <div class="d-flex justify-content-center pt-2 pb-2">
                  <a class="btn btn-danger rounded-4" href="#" role="button"
                    >রেজিস্ট্রেশন করুন</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- language club -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <h2 class="text-center h4 text-info">ল্যাংগুয়েজ ক্লাব</h2>
        <h3 class="h1 text-primary text-center fw-semibold">
          ভাষা স্কুলের ল্যাংগুয়েজ ক্লাব বৃত্তান্ত
        </h3>
        <div class="row align-items-center">
          <div class="col-md-6">
            <ul class="list-group list-group-padding">
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">সবার জন্য উন্মুক্ত</h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">
                  টিচারের উপস্থিতি এবং Advance Tips & Tricks
                </h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">সপ্তাহে একদিন ল্যাঙ্গুয়েজ ক্লাব</h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">ইংরেজির যেকোনো সমস্যার সমাধান</h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">এডভান্স প্রেক্টিস সেশন</h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">ডিজিটাল ক্লাসরুম</h4>
              </li>
              <li class="list-group-item d-flex align-items-center border-0">
                <span>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z"
                      fill="#C1152E"
                    />
                    <path
                      d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z"
                      fill="#C1152E"
                    />
                  </svg>
                </span>
                <h4 class="ps-3 text-info">টপিক ভিক্তিক আলোচনা</h4>
              </li>
            </ul>
          </div>

          <div class="col-md-6">
            <img
              class="img-fluid"
              src="/assets/images/home/language-club.png"
              alt="language club"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- english section -->
    <section class="learn-english-gradient py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-1 order-md-0">
            <h2 class="display-3 fw-bold text-light">মাসিক কুইজ কন্টেস্ট</h2>
            <p class="text-light h2">
              ভাষা স্কুলের কুইজ কন্টেস্টে যোগ দিয়ে জিতে <br />
              নিন আকর্ষণীয় পুরস্কার
            </p>
            <div class="d-flex gap-4 pt-3">
              <!-- future - facebook page link             -->
              <a class="btn btn-primary rounded-4" href="#" role="button"
                >জানুন বিস্তারিত</a
              >
            </div>
          </div>

          <div class="col-md-6">
            <img
              class="img-fluid"
              src="/assets/images/home/english.png"
              alt="english img"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- package section -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <h2 class="h1 text-primary text-center fw-semibold">মকটেস্ট প্যাকেজ</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4">প্যাকেজ-০১</h6>
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path>
                    </svg>
                  </span>
                  <h6 class="mb-0 text-info display-5 fw-semibold">১৫০০</h6>
                </div>
                <h5 class="h4 text-info fw-bold">যা যা থাকবেঃ</h5>
                <ul class="">
                  <li class="h5 text-info">৪টা মক টেস্ট</li>
                  <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                  <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                  <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                </ul>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4">প্যাকেজ-০১</h6>
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path></svg
                  ></span>
                  <h6 class="mb-0 text-info display-5 fw-semibold">১৫০০</h6>
                </div>
                <h5 class="h4 text-info fw-bold">যা যা থাকবেঃ</h5>
                <ul class="">
                  <li class="h5 text-info">১২ টি মকটেস্ট</li>
                  <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                  <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                  <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                </ul>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 bg-light">
              <div class="card-body">
                <h6 class="text-info pt-4">প্যাকেজ-০১</h6>
                <div class="d-flex gap-2">
                  <span
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
                        fill="#272454"
                      ></path></svg
                  ></span>
                  <h6 class="mb-0 text-info display-5 fw-semibold">১৫০০</h6>
                </div>
                <h5 class="h4 text-info fw-bold">যা যা থাকবেঃ</h5>
                <ul class="">
                  <li class="h5 text-info">১২ টি মকটেস্ট</li>
                  <li class="h5 text-info">ল্যাংগুয়েজ ক্লাব</li>
                  <li class="h5 text-info">৬ মাসের মেম্বারশীপ</li>
                  <li class="h5 text-info">ফ্রি ম্যাটারিয়াল</li>
                </ul>
              </div>
              <div class="card-footer border-top-0 pb-4 bg-light">
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-danger rounded-4" role="button"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact -->
    <section class="bg-secondary-subtle py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <img
              class="img-fluid"
              src="/assets/images/home/contact.png"
              alt="contact us"
            />
          </div>
          <div class="col-md-7">
            <!-- <h2 class="h4 text-info">যোগাযোগ</h2> -->
            <h3 class="h1 text-primary fw-semibold">
              ইংরেজির দুর্বলতা কাটিয়ে হয়ে উঠুন আত্মবিশ্বাসী
            </h3>
            <h4 class="text-dark">
              সফলতা অর্জন করতে প্রয়োজন সঠিক জায়গায় নিজের সময় আর পরিশ্রম দেয়া।
              তাই <br />
              সঠিক জায়গা থেকে অর্জন করুন সঠিক স্কিলস কনফিডেন্সের সাথে।
            </h4>
            <div class="d-flex gap-4 pt-3">
              <a href="#" class="btn btn-danger rounded-4" role="button"
                >সব কোর্সগুলো দেখুন</a
              >
              <a href="#" class="btn btn-light rounded-4" role="button"
                >সেমিনারে অংশ নিন</a
              >
              <!-- <a href="#" class="btn btn-light rounded-4" role="button"
                >কল বুক করুন</a
              > -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- logo section -->
    <section class="bg-secondary-subtle py-5">
      <div class="container w-50">
        <h2 class="h1 text-primary text-center fw-semibold">
          অনুমোদিত রেজিস্ট্রেশন পয়েন্ট
        </h2>
        <div class="row py-5 logo">
          <div class="col-12">
            <img
              src="/assets/images/idp-logo.png"
              alt="idp logo"
              class="text-center"
            />
          </div>
          <div class="col-12">
            <img
              src="/assets/images/british-council-logo.png"
              alt="british council logo"
              class="text-center"
            />
          </div>
          <div class="col-12">
            <img
              src="/assets/images/ielts-logo.png"
              alt="ielts logo"
              class="text-center"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include('/_components/footer') -%>
    <script
      type="text/javascript"
      src="/assets/js/jquery-3.6.0.min.js"
    ></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <%- include("/_components/scripts")-%>
  </body>
</html>
