<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%>
  <!-- slick css -->
  <link rel="stylesheet" href="/assets/css/slick.min.css" />
  <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
  <%- include("/_components/styles") -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <button type="button" id="modalbtn" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#promotionalModal">
    Launch demo modal
  </button>
  <!-- promotional popup -->
  <div class="modal fade" id="promotionalModal" tabindex="-1" aria-labelledby="promotionalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-0">
        <div class="modal-header position-relative border-0 p-0 z-3">
          <button type="button" class="btn-close position-absolute top-0 end-0 rounded-5 bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <% db.promotions.forEach(promotion => { %>
        <div class="modal-body p-0">
          <img src="<%= backendUrl %><%= promotion.imgSrc %>" class="img-fluid rounded" alt="promotional popup image">
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  <!-- hero section -->
  <section class="home-bg-gradient py-5 top-margin">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="display-5 text-light text-center text-md-start fw-normal">
            ইংরেজি ও IELTS এর Expert <br />
            হয়ে উঠুন সঠিক নির্দেশনায়
          </h2>
          <p class="text-light h4 text-center text-md-start fw-light">
            অভিজ্ঞ শিক্ষকদের তৈরি দুর্দান্ত সব Tips, Tricks <br> ও Techniques এর সমন্বয়ে
          </p>
          <div class="d-flex gap-4 pt-3 justify-content-center justify-content-md-start">
            <a class="btn btn-danger rounded-3" href="/courses/" role="button">শিখতে শুরু করুন</a>
            <a class="btn btn-light rounded-3" href="#" role="button" data-bs-toggle="modal" data-bs-target="#registrationModal">ফ্রি ক্লাস করুন</a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="/assets/images/home/hero-section.svg" alt="hero banner" />
        </div>
      </div>
    </div>
  </section>
  <!-- student counter -->
  <section class="z-2 position-relative top-50px d-none">
    <div class="container shadow-lg rounded-5 p-5 bg-white">
      <div class="row">
        <div class="col-md-2 col-5">
          <h6 class="h4 text-center text-primary font-semibold">
            ১ কোটি + <br />
            <span class="text-info">মোট শিক্ষার্থী</span>
          </h6>
        </div>
        <div class="col-md-1 text-center col-2 d-md-flex justify-content-center">
          <div class="vr"></div>
        </div>
        <div class="col-6 col-6 d-flex align-items-center">
          <img src="/assets/images/idp-logo.png" alt="idp logo" class="text-center ms-5" />
          <img src="/assets/images/british-council-logo.png" alt="british council logo" class="text-center ms-5" />
          <img src="/assets/images/ielts-logo.png" alt="ielts logo" class="text-center ms-5" />
        </div>
        <div class="col-md-1 text-center col-2 d-md-flex justify-content-center">
          <div class="vr"></div>
        </div>
        <div class="col-md-2 col-5">
          <h6 class="h4 text-center text-primary font-semibold">
            ১০ +<br />
            <span class="text-info">ল্যাংগুয়েজ কোর্স</span>
          </h6>
        </div>
      </div>
    </div>
  </section>
  <!-- mobile view of student counter -->
  <section class="py-4 position-relative d-block d-md-none">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6 class="text-center text-primary fw-normal py-4 shadow rounded-4">
            ১ কোটি + <br />
            <span class="text-info">মোট শিক্ষার্থী</span>
          </h6>
        </div>
        <div class="col-6">
          <h6 class="text-center text-primary fw-normal py-4 shadow rounded-4">
            ৫০,০০০ +<br />
            <span class="text-info">শিক্ষার্থী</span>
          </h6>
        </div>
        <div class="col-6">
          <h6 class="text-center text-primary fw-normal py-4 shadow rounded-4">
            ৩ +<br />
            <span class="text-info">সফলতার বছর</span>
          </h6>
        </div>
        <div class="col-6">
          <h6 class="text-center text-primary fw-normal py-4 shadow rounded-4">
            ১০ +<br />
            <span class="text-info">ল্যাংগুয়েজ কোর্স</span>
          </h6>
        </div>
      </div>
    </div>
  </section>
  <!-- course list -->
  <section class="py-5 course-list d-none d-md-block">
    <div class="container shadow-lg rounded-5 p-5 bg-white top-50px position-relative">
      <div class="row">
        <div class="col-md-3">
          <h6 class="h5 text-center text-primary fw-normal">
            ৫০,০০০ +<br />
            <span class="text-info">শিক্ষার্থী</span>
          </h6>
        </div>
        <div class="col-md-1 text-center d-flex justify-content-center">
          <div class="vr"></div>
        </div>
        <div class="col-md-4">
          <h6 class="h5 text-center text-primary fw-normal">
            ৩ +<br />
            <span class="text-info">সফলতার বছর</span>
          </h6>
        </div>
        <div class="col-md-1 text-center d-flex justify-content-center">
          <div class="vr"></div>
        </div>
        <div class="col-md-3">
          <h6 class="h5 text-center text-primary fw-normal">
            ১০ +<br />
            <span class="text-info">ল্যাংগুয়েজ কোর্স</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="container w-75">
      <h2 class="text-center h5 text-info fw-normal">কোর্সসমূহ</h2>
      <h3 class="h2 text-primary text-center fw-normal">
        গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
      </h3>
      <div class="row pt-5 w-75" style="margin: 0 auto !important">
        <div class="col-md-4">
          <div class="row h-50">
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card-hover border-0 card position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100">
                  Basic English <br />
                  <span>মাস্টার ক্লাস</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="/courses/basic-english/" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card border-0 course-list-hover position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100">
                  তুখোড়
                  <br />
                  <span>Writing</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="/courses/tukhor-writing/" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row h-50">
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card-hover border-0 card position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100">
                  জিরো টু<br />
                  <span>IELTS হিরো</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="/courses/zero-ielts-hero/" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card border-0 course-list-hover position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100 mb-0">
                  দুর্দান্ত
                  <br />
                  <span>Spoken</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="/courses/durdanta-spoken/" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row h-50">
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card-hover border-0 card position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100">
                  IELTS
                  <br />
                  <span>হিরো</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="/courses/ielts-hero/" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 h-100 py-2 col-6">
              <div class="p-5 rounded-3 shadow h-100 card border-0 course-list-hover position-relative">
                <div class="d-flex justify-content-center position-absolute top-25 start-50 translate-middle mt-4">
                  <img class="img-fluid w-100 text-center" src="/assets/images/home/frame.png" alt="basic english">
                </div>
                <h5 class="fw-bold d-flex justify-content-center align-items-center flex-column h-100 mb-0">
                  Mock
                  <br />
                  <span>Tests</span>
                </h5>
                <div class="d-flex justify-content-center">
                  <a class="btn btn-primary rounded-3 position-absolute bottom-50px px-xxl-5 py-2" href="#mock-test" role="button">বিস্তারিত দেখুন</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- course list mobile view  -->
  <section class="py-5 course-list d-md-none d-block">
    <div class="container">
      <h2 class="text-center h5 text-info fw-normal">কোর্সসমূহ</h2>
      <h3 class="h2 text-primary text-center fw-normal">
        গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
      </h3>
      <div class="row pt-5" style="margin: 0 auto !important">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 py-2 col-6">
              <div class="px-3 text-center rounded-4 shadow h-100 border-0 card">
                <h6 class="fw-bold secondary-font-family h-100 text-primary  d-flex justify-content-center align-items-center flex-column">
                  <a href="/courses/basic-english/" class="text-decoration-none card-link stretched-link text-primary">
                    Basic English <br />
                    <span class="text-info">মাস্টার ক্লাস</span>
                  </a>
                </h6>
              </div>
            </div>
            <div class="col-md-12 py-2 col-6">
              <div class="p-5 text-center rounded-4 shadow h-100 border-0 card">
                <h6 class="text-center fw-bold secondary-font-family h-100 text-primary d-flex justify-content-center align-items-center flex-column">
                  <a href="/courses/zero-ielts-hero/" class="text-decoration-none card-link stretched-link text-primary">
                    জিরো টু<br />
                    <span class="text-info">IELTS হিরো</span>
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 py-2 col-6">
              <div class="p-5  text-center rounded-4 shadow h-100 card border-0">
                <h6 class="text-center fw-bold secondary-font-family h-100 text-primary">
                  <a href="/courses/ielts-hero/" class="text-decoration-none card-link stretched-link text-primary">
                    IELTS
                    <br />
                    <span class="text-info">হিরো</span>
                  </a>
                </h6>
              </div>
            </div>
            <div class="col-md-12 py-2 col-6">
              <div class="p-5 rounded-4 shadow h-100 card border-0">
                <h6 class="text-center fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100 text-primary">
                  <a href="/courses/tukhor-writing/" class="text-decoration-none card-link stretched-link text-primary">
                    তুখোড়
                    <br />
                    <span class="text-info">Writing</span>
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 py-2 col-6">
              <div class="p-5 rounded-4 shadow h-100 card border-0">
                <h6 class="text-center fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100 text-primary">
                  <a href="/courses/durdanta-spoken/" class="text-decoration-none card-link stretched-link text-primary">
                    দুর্দান্ত
                    <br />
                    <span class="text-info">Spoken</span>
                  </a>
                </h6>
              </div>
            </div>
            <div class="col-md-12 py-2 col-6">
              <div class="p-5 rounded-4 shadow h-100 card border-0">
                <h6 class="text-center fw-bold secondary-font-family d-flex justify-content-center align-items-center flex-column h-100 text-primary">
                  <a href="#mock-test" class="text-decoration-none card-link stretched-link text-primary">
                    Mock
                    <br />
                    <span class="text-info">Tests</span>
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- benefits from bhasha skool -->
  <section class="py-5 what-you-get-gradient">
    <div class="container">
      <h2 class="text-light-emphasis text-center">
        ভাষা স্কুলের কোর্সগুলোতে যা যা পাবেন
      </h2>
      <div class="card-group py-5 whatyouget">
        <div class="card border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0 pt-5">
              <ul class="list-group list-group-padding">
                <h5 class="text-light-emphasis fw-normal">ফ্রি কোর্স ম্যাটেরিয়ালসঃ (অনলাইন এবং অফলাইন কোর্সে প্রযোজ্য)</h5>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal"> সকল বই, লেকচার শীট ফ্রি (অনলাইন কোর্সের জন্য কুরিয়ার করে দেয়া হবে)</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">
                    নোটবই ও কলম ফ্রি (অনলাইন কোর্সের জন্য কুরিয়ার করে দেয়া হবে)
                  </h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">অফলাইন/অনলাইন ম্যাটেরিয়ালস (অনলাইন এবং অফলাইন উভয় কপি দিয়ে দেওয়া হবে) </h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">মেম্বারশীপের মেয়াদ পর্যন্ত কোর্স ম্যাটেরিয়ালস এর আপডেটেড অনলাইন কপি</h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 order-0 order-md-1">
              <img class="img-fluid" src="/assets/images/home/benefits/course-materials.svg" alt="course meterials" />
            </div>
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0 pt-5">
              <ul class="list-group list-group-padding">
                <h5 class="text-light-emphasis fw-normal">৬ মাস / ১ বছরের মেম্বারশিপঃ (শুধু অফলাইন কোর্সের জন্য)</h5>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">কোর্স রিপিটের সুযোগ</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">
                    ১ বছর পর্যন্ত সকল ক্লাস ফ্রি
                  </h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">Unlimited Practice</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">মেম্বারশিপের মেয়াদে কোন এক্সট্রা চার্জ নেই</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">ক্লাস ছাড়াও যে কোন এক্সাম দেয়া যাবে</h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 order-0 order-md-1 d-flex justify-content-center justify-content-md-end">
              <img class="img-fluid w-75" src="/assets/images/home/benefits/membership.svg" alt="membership" />
            </div>
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0 pt-5">
              <ul class="list-group list-group-padding">
                <h5 class="text-light-emphasis fw-normal">ল্যাংগুয়েজ ক্লাবঃ (অনলাইন এবং অফলাইন কোর্সে প্রযোজ্য)</h5>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">শিক্ষকদের উপস্থিতিতে Practice</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">
                    Advance Cue Card Sessions
                  </h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal"> Mock Interview/ IELTS speaking session Practice</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">Group Discussion</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">কোর্স মেম্বারদের জন্য ফ্রি</h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 order-0 order-md-1">
              <img class="img-fluid" src="/assets/images/home/language-club.png" alt="language club" />
            </div>
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0 pt-5 mt-5">
              <ul class="list-group list-group-padding">
                <h5 class="text-light-emphasis fw-normal">অভিজ্ঞ শিক্ষকদের তত্ত্বাবধায়নঃ (কোন প্রি-রেকর্ডেড কোর্স নেই) </h5>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">কোর্স অনুযায়ী Tips & Tricks</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">
                    মডিউল অনুসারে অভিজ্ঞ শিক্ষক
                  </h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">Personal Care</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">নিয়মিত Teacher & Student Feedback সেশন</h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 order-0 order-md-1">
              <img class="img-fluid" src="/assets/images/home/benefits/advanced-teacher.svg" alt="advanced teacher" />
            </div>
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0 pt-5">
              <ul class="list-group list-group-padding">
                <h5 class="text-light-emphasis fw-normal">কোর্স শেষে সার্টিফিকেটঃ (অনলাইন এবং অফলাইন কোর্সে প্রযোজ্য)</h5>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">সকল কোর্সে সার্টিফিকেট</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">CV তে Qualification হিসেবে দেখানো যাবে</h5>
                </li>
                <li class="list-group-item d-flex align-items-center border-0">
                  <img src="/assets/images/home/check-icon.svg" alt="check icon" />
                  <h5 class="ps-3 text-light-emphasis fw-normal">Online কপি দেয়া হবে</h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 order-0 order-md-1">
              <img class="img-fluid" src="/assets/images/home/benefits/certificate.svg" alt="certificate" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- running course -->
  <section id="courses" class="bg-secondary-subtle position-relative">
    <div class="container py-5">
      <h2 class="text-center h5 text-info fw-normal">কোর্সসমূহ</h2>
      <h3 class="h2 text-primary text-center fw-normal">
        গোছানো প্রস্তুতি নিয়ে হয়ে উঠুন ভাষা এক্সপার্ট
      </h3>
      <ul class="w-30 nav nav-pills nav-fill gap-2 p-1 bg-danger-subtle rounded-5 shadow-sm justify-content-center mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active rounded-5" id="pills-offline-tab" data-bs-toggle="pill" data-bs-target="#pills-offline" type="button" role="tab" aria-controls="pills-offline" aria-selected="true">
            <h5 class="mb-0 fw-normal">
              অনলাইন
            </h5>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="pills-online-tab" data-bs-toggle="pill" data-bs-target="#pills-online" type="button" role="tab" aria-controls="pills-online" aria-selected="false">
            <h5 class="mb-0 fw-normal">
              অফলাইন
            </h5>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-offline" role="tabpanel" aria-labelledby="pills-offline-tab" tabindex="0">
          <div class="card-group py-5 courses">
            <% db.courses.concat(db.courses).forEach(course => { %>
            <div class="card rounded ms-2 me-2 bg-transparent">
              <!-- <img src="/<%= course.imgSrc %>" class="card-img-top rounded" alt="<%= course.courseAlt %>" />               -->
              <img src="/assets/images/courses/course-img.png" class="card-img-top rounded" alt="<%= course.courseAlt %>" />
              <div class="card-body">
                <div class="d-flex justify-content-start gap-2">
                  <div class="d-flex gap-2 align-items-center bg-danger-subtle p-1 rounded">
                    <img src="/assets/images/time.svg" alt="course duration" class="d-none">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.1021 14.8207C17.719 14.8207 18.2097 14.4325 18.6503 13.8897C19.5521 12.7785 18.0714 11.8905 17.5067 11.4557C16.9325 11.0136 16.2915 10.7631 15.6416 10.7043M14.8184 9.05779C15.9551 9.05779 16.8765 8.1363 16.8765 6.9996C16.8765 5.86289 15.9551 4.94141 14.8184 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                      <path d="M2.6568 14.8207C2.03992 14.8207 1.54925 14.4325 1.1087 13.8897C0.206833 12.7785 1.68756 11.8905 2.25231 11.4557C2.8264 11.0136 3.46741 10.7631 4.11732 10.7043M4.52896 9.05779C3.39225 9.05779 2.47077 8.1363 2.47077 6.9996C2.47077 5.86289 3.39225 4.94141 4.52896 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                      <path d="M6.65452 12.4422C5.81332 12.9623 3.60773 14.0244 4.95108 15.3534C5.6073 16.0027 6.33815 16.467 7.25702 16.467H12.5003C13.4191 16.467 14.15 16.0027 14.8062 15.3534C16.1495 14.0244 13.944 12.9623 13.1027 12.4422C11.1301 11.2224 8.62717 11.2224 6.65452 12.4422Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12.761 6.17443C12.761 7.76583 11.4709 9.0559 9.87951 9.0559C8.28812 9.0559 6.99805 7.76583 6.99805 6.17443C6.99805 4.58304 8.28812 3.29297 9.87951 3.29297C11.4709 3.29297 12.761 4.58304 12.761 6.17443Z" stroke="#272454" stroke-width="1.23491" />
                    </svg>
                    <h5 class="mb-0 text-info d-none"><%= course.courseDuration %></h5>
                    <p class="mb-0 text-info fw-nomal small">৩২ টি সিট বাকি</p>
                  </div>
                  <div class="d-flex gap-2 align-items-center bg-danger-subtle p-1 rounded">
                    <img src="/assets/images/calender.svg" alt="total class" class="d-none">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.638 18.114C15.1849 18.114 18.8708 14.428 18.8708 9.8812C18.8708 5.33437 15.1849 1.64844 10.638 1.64844C6.0912 1.64844 2.40527 5.33437 2.40527 9.8812C2.40527 14.428 6.0912 18.114 10.638 18.114Z" stroke="#272454" stroke-width="1.23491" />
                      <path d="M10.6396 6.58594V9.87904L12.2862 11.5256" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <h5 class="mb-0 text-info d-none"><%= course.courseTotalClass %></h5>
                    <p class="mb-0 text-info fw-normal small">৫ দিন বাকি </p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent">
                <h5 class="text-info mb-5">
                  <%= course.courseTitle %>
                </h5>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="d-flex">
                      <span> <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h6 class="text-info mb-0 fw-semibold"><%= course.courseOnlineDiscountPrice %></h6>
                    </div>
                    <p class="ps-4 text-decoration-line-through text-info">
                      <%= course.courseOnlineActualPrice %>
                    </p>
                  </div>
                  <div class="">
                    <a class="btn btn-danger rounded" href="<%= course.courseLink %>" role="button">বিস্তারিত জানুন</a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-online" role="tabpanel" aria-labelledby="pills-online-tab" tabindex="0">
          <div class="card-group py-5 courses">
            <% db.courses.concat(db.courses).forEach(course => { %>
            <div class="card rounded ms-2 me-2 bg-transparent">
              <!-- <img src="/<%= course.imgSrc %>" class="card-img-top rounded" alt="<%= course.courseAlt %>" />               -->
              <img src="/assets/images/courses/course-img.png" class="card-img-top rounded" alt="<%= course.courseAlt %>" />
              <div class="card-body">
                <div class="d-flex justify-content-start gap-2">
                  <div class="d-flex gap-2 align-items-center bg-danger-subtle p-1 rounded">
                    <img src="/assets/images/time.svg" alt="course duration" class="d-none">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.1021 14.8207C17.719 14.8207 18.2097 14.4325 18.6503 13.8897C19.5521 12.7785 18.0714 11.8905 17.5067 11.4557C16.9325 11.0136 16.2915 10.7631 15.6416 10.7043M14.8184 9.05779C15.9551 9.05779 16.8765 8.1363 16.8765 6.9996C16.8765 5.86289 15.9551 4.94141 14.8184 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                      <path d="M2.6568 14.8207C2.03992 14.8207 1.54925 14.4325 1.1087 13.8897C0.206833 12.7785 1.68756 11.8905 2.25231 11.4557C2.8264 11.0136 3.46741 10.7631 4.11732 10.7043M4.52896 9.05779C3.39225 9.05779 2.47077 8.1363 2.47077 6.9996C2.47077 5.86289 3.39225 4.94141 4.52896 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                      <path d="M6.65452 12.4422C5.81332 12.9623 3.60773 14.0244 4.95108 15.3534C5.6073 16.0027 6.33815 16.467 7.25702 16.467H12.5003C13.4191 16.467 14.15 16.0027 14.8062 15.3534C16.1495 14.0244 13.944 12.9623 13.1027 12.4422C11.1301 11.2224 8.62717 11.2224 6.65452 12.4422Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12.761 6.17443C12.761 7.76583 11.4709 9.0559 9.87951 9.0559C8.28812 9.0559 6.99805 7.76583 6.99805 6.17443C6.99805 4.58304 8.28812 3.29297 9.87951 3.29297C11.4709 3.29297 12.761 4.58304 12.761 6.17443Z" stroke="#272454" stroke-width="1.23491" />
                    </svg>
                    <h5 class="mb-0 text-info d-none"><%= course.courseDuration %></h5>
                    <p class="mb-0 text-info fw-normal small">৩২ টি সিট বাকি</p>
                  </div>
                  <div class="d-flex gap-2 align-items-center bg-danger-subtle p-1 rounded">
                    <img src="/assets/images/calender.svg" alt="total class" class="d-none">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.638 18.114C15.1849 18.114 18.8708 14.428 18.8708 9.8812C18.8708 5.33437 15.1849 1.64844 10.638 1.64844C6.0912 1.64844 2.40527 5.33437 2.40527 9.8812C2.40527 14.428 6.0912 18.114 10.638 18.114Z" stroke="#272454" stroke-width="1.23491" />
                      <path d="M10.6396 6.58594V9.87904L12.2862 11.5256" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <h5 class="mb-0 text-info d-none"><%= course.courseTotalClass %></h5>
                    <p class="mb-0 text-info fw-normal small">৫ দিন বাকি </p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent">
                <h5 class="text-info mb-5">
                  <%= course.courseTitle %>
                </h5>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="d-flex">
                      <span> <img src="/assets/images/money-icon.svg" alt="money icon">
                      </span>
                      <h6 class="text-info mb-0 fw-semibold"><%= course.courseDiscountPrice %></h6>
                    </div>
                    <p class="ps-4 text-decoration-line-through text-info">
                      <%= course.courseActualPrice %>
                    </p>
                  </div>
                  <div class="">
                    <a class="btn btn-danger rounded" href="<%= course.courseLink %>" role="button">বিস্তারিত জানুন</a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- classroom -->
  <section class="bg-secondary-subtle py-5 bg-language-club">
    <div class="container">
      <h3 class="h2 text-primary text-center fw-normal">
        ভাষা স্কুলের ক্লাসরুম
      </h3>
      <div class="row align-items-center py-5">
        <div class="col-md-6 order-1 order-md-0">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/roleplay.svg" alt="role play" />
              <h5 class="text-info text-center fw-normal">বাস্তব-জীবনের পরিস্থিতি যেমন Job Interview, Viva, বন্ধুদের সাথে কথা বলা ইত্যাদি ক্ষেত্রে সাবলীল্ভাবে ও Confidence এর সাথে ইংরেজি বলার দক্ষতা বৃদ্ধি করে।</h5>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/presentation.svg" alt="group presentation" />
              <h5 class="text-info text-center fw-normal">শিক্ষার্থীদের সৃজনশীল চিন্তাভাবনা এবং উপস্থাপনার দক্ষতা বিকাশ করে, তাদেরকে বাস্তব-বিশ্বের পরিস্থিতির জন্য প্রস্তুত করে।</h5>
            </div>
            <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/public-speaking.svg" alt="public speaking" />
              <h5 class="text-info text-center fw-normal">সঠিক Pronunciation এবং Vocabulary গড়ে তোলে, যা বিভিন্ন সামাজিক এবং পেশাদার ক্ষেত্রে Confidence এর সাথে নিজেদের প্রকাশ করতে সাহায্য করে।</h5>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/mocktest.svg" alt="unlimited mocktest" />
              <h5 class="text-info text-center fw-normal">শিক্ষার্থীদের অগ্রগতি মূল্যায়ন এবং উন্নতির জন্য কি কি করা প্রয়োজন তা খুঁজে বের করতে মেম্বারশীপের মেয়াদ পর্যন্ত পাচ্ছে Mock ও অন্যান্য Tests.</h5>

            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/freehand-writing.svg" alt="freehand writing" />
              <h5 class="text-info text-center fw-normal">সৃজনশীলতাকে লালন, Vocabulary বৃদ্ধি এবং সাবলীল্ভাবে লেখার প্রবাহকে উৎসাহিত করে, যা Confidently ইংরেজি লিখতে সহায়ক। </h5>
            </div>
            <div class="tab-pane fade" id="v-pills-sentence" role="tabpanel" aria-labelledby="v-pills-sentence-tab" tabindex="0">
              <img class="img-fluid" src="/assets/images/home/classroom/intensive-reading.svg" alt="intensive reading" />
              <h5 class="text-info text-center fw-normal">Sentence Structure, Vocabulary, এবং সমালোচনামূলক চিন্তার দক্ষতা উন্নত করতে সাহায্য করে যা যে কোন কঠিন বিষয়কেও সহজে বুঝতে সহায়ক।</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-0 order-md-1">
          <div class="nav flex-column nav-pills position-relative" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link text-start rounded-4 py-3 fs-5 active secondary-font-family" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
              Role Play
            </button>
            <button class="nav-link text-start rounded-4 py-3 fs-5 mt-4 secondary-font-family" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              Group Presentation
            </button>
            <button class="nav-link text-start rounded-4 py-3 fs-5 mt-4 secondary-font-family" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">
              Public Speaking
            </button>
            <button class="nav-link text-start rounded-4 py-3 fs-5 mt-4 secondary-font-family" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              Unlimited Mock ও অন্যান্য টেস্ট
            </button>
            <button class="nav-link text-start rounded-4 py-3 fs-5 mt-4 secondary-font-family" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              Freehand Writing
            </button>
            <button class="nav-link text-start rounded-4 py-3 fs-5 mt-4 secondary-font-family" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sentence" type="button" role="tab" aria-controls="v-pills-sentence" aria-selected="false">
              Intensive Reading
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- quiz section -->
  <section class="quiz-gradient py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-1 order-md-0">
          <h2 class="display-5 text-light fw-normal">মাসিক কুইজ কন্টেস্ট</h2>
          <p class="text-light h3 fw-normal">
            ভাষা স্কুলের কুইজ কন্টেস্টে যোগ দিয়ে জিতে <br />
            নিন আকর্ষণীয় পুরস্কার
          </p>
          <div class="d-flex gap-4 pt-3">
            <a class="btn btn-danger rounded-3" href="https://www.facebook.com/groups/8402853953119177" role="button" target="_blank">জানুন বিস্তারিত</a>
          </div>
        </div>

        <div class="col-md-6">
          <img class="img-fluid" src="/assets/images/home/quiz.svg" alt="quiz section img" />
        </div>
      </div>
    </div>
  </section>
  <!-- package section -->
  <section class="bg-secondary-subtle position-relative" id="mock-test">
    <img src="/assets/images/home/bg-left.svg" class="position-absolute end-0 left-0 h-50 d-none d-md-block" />
    <img src="/assets/images/home/bg-right.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block" />
    <div class="container py-5 position-relative">
      <h2 class="text-primary text-center fw-normal">মকটেস্ট প্যাকেজ <span class="h5">*(শুধু অফলাইনে প্রযোজ্য)</span></h2>
      <div class="card-group py-5 packages">
        <% db.mocktests.forEach(mocktest => { %>
        <div class="card border-0 bg-light">
          <div class="card-body">
            <h6 class="text-info pt-4 fw-normal"><%= mocktest.title %></h6>
            <div class="d-flex gap-2">
              <span>
                <img src="/assets/images/home/package-money-icon.svg" alt="packages money icon">
              </span>
              <h6 class="mb-0 text-info display-5 fw-normal"><%= mocktest.price %></h6>
            </div>
            <h5 class="text-info fw-semibold">যা যা থাকবেঃ</h5>
            <%- mocktest.description.replaceAll('<li>','<li class="h6 text-info fw-normal">') %>
          </div>
          <div class="card-footer border-top-0 pb-4 bg-light">
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-danger rounded-2 w-75" role="button">কিনুন</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- contact -->
  <section class="bg-secondary-subtle py-5 bg-contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <img class="img-fluid" src="/assets/images/home/contact.png" alt="contact us" />
        </div>
        <div class="col-md-7">
          <h3 class="h2 text-primary fw-normal">
            ইংরেজির দুর্বলতা কাটিয়ে হয়ে উঠুন আত্মবিশ্বাসী
          </h3>
          <h5 class="text-dark">
            সফলতা অর্জন করতে প্রয়োজন সঠিক জায়গায় নিজের সময় আর পরিশ্রম দেয়া।
            তাই <br />
            সঠিক জায়গা থেকে অর্জন করুন সঠিক স্কিলস কনফিডেন্সের সাথে।
          </h5>
          <div class="d-flex gap-4 pt-3">
            <a href="/courses" class="btn btn-danger rounded-3" role="button">সব কোর্সগুলো দেখুন</a>
            <a href="#" class="btn btn-light rounded-3" role="button">ফ্রি ক্লাস করুন</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- success-stories -->
  <section class="bg-success-stories py-5">
    <div class="container">
      <h2 class="h2 text-primary text-center fw-normal">
        IELTS Exam-এ ভাষা স্কুল থেকে সফল যারা
      </h2>
      <div class="card-group py-5 stories">
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="./assets/images/success-stories/success-stories01.jpg" alt="success stories 01">
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="/assets/images/success-stories/success-stories02.jpg" alt="success stories 02">
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="./assets/images/success-stories/success-stories03.jpg" alt="success stories 03">
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="./assets/images/success-stories/success-stories04.jpg" alt="success stories 04">
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="./assets/images/success-stories/success-stories05.jpg" alt="success stories 05">
          </div>
        </div>
        <div class="card border-0 bg-transparent">
          <div class="card-body">
            <img class="img-fluid" src="./assets/images/success-stories/success-stories06.jpg" alt="success stories 06">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- logo section -->
  <section class="bg-secondary-subtle py-5">
    <div class="container w-50 d-none">
      <h2 class="h1 text-primary text-center fw-semibold">
        অনুমোদিত রেজিস্ট্রেশন পয়েন্ট
      </h2>
      <div class="row py-5 log">
        <div class="col-4 col-md-4">
          <img src="/assets/images/idp-logo.png" alt="idp logo" class="text-center" />
        </div>
        <div class="col-4 col-md-4">
          <img src="/assets/images/british-council-logo.png" alt="british council logo" class="text-center" />
        </div>
        <div class="col-4 col-md-4">
          <img src="/assets/images/ielts-logo.png" alt="ielts logo" class="text-center" />
        </div>
      </div>
    </div>
    <div class="container d-md-block d-none">
      <div class="text-center">
        <img src="/assets/images/councils-logo.png" alt="councils logo" class="w-50" />
      </div>
    </div>
    <div class="container d-md-none d-block">
      <div class="text-center">
        <img src="/assets/images/councils-logo.png" alt="councils logo" class="w-100" />
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%>
  <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  <%- include("/_components/scripts")-%>
  <script>
    let examplemodalbtn = document.getElementById("modalbtn");

    window.addEventListener("load", () => {
      setTimeout(() => {
        const loadedDate = localStorage.getItem('loaded');
        if (!loadedDate || (Date.now() - new Date(loadedDate).getTime() > 24 * 60 * 60 * 1000)) {
          examplemodalbtn.click();
          localStorage.setItem('loaded', Date.now().toString());
        }
      }, 1000);
    });
  </script>
</body>

</html>