<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic English | Bhasha Skool</title>
  <%- include("/_components/head-seo") -%>
  <%- include("/_components/styles") -%>
</head>

<body>
  <!-- nav-bar -->
  <%- include("/_components/nav") -%>
  <!-- course details -->
  <section class="my-0 my-md-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 pt-md-5">
          <h2 class="fw-semibold display-5 text-info" id="course-title"></h2>
          <h6 class="fw-normal text-info h5" id="course-tagline"></h6>
          <div class="d-flex flex-row gap-2 py-4">
            <a class="btn btn-danger rounded" href="#" role="button" tabindex="0">Free demo</a>
            <a class="btn btn-light rounded" href="#" role="button" tabindex="0">Prospectus download</a>
          </div>
          <div class="d-flex flex-wrap gap-2" id="course-tag">
            <div class="bg-primary-subtle p-1 rounded">
              <p class="mb-0 text-info">Pronunciation</p>
            </div>
            <div class="bg-primary-subtle p-1 rounded">
              <p class="mb-0 text-info">Public Speaking</p>
            </div>
            <div class="bg-primary-subtle p-1 rounded">
              <p class="mb-0 text-info"> Interactive Classes </p>
            </div>
          </div>
          <div class=" d-md-none d-block pt-3">
            <div id="course-video-mobile"></div>
            <div class="card rounded-4">
              <div class="card-body">
                <div class="d-flex gap-2 pt-3 justify-content-between">
                  <div>
                    <div class="d-flex flex-row gap-2">
                      <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="mask0_382_1487" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                            <rect width="24" height="24" fill="#D9D9D9" />
                          </mask>
                          <g mask="url(#mask0_382_1487)">
                            <path d="M12 21L0 9C1.6 7.36667 3.43333 6.125 5.5 5.275C7.56667 4.425 9.73333 4 12 4C14.2833 4 16.4583 4.425 18.525 5.275C20.5917 6.125 22.4167 7.36667 24 9L12 21ZM5.8 11.95C6.68333 11.3167 7.65 10.8208 8.7 10.4625C9.75 10.1042 10.85 9.925 12 9.925C13.15 9.925 14.25 10.1042 15.3 10.4625C16.35 10.8208 17.3167 11.3167 18.2 11.95L21.1 9.05C19.8 8.06667 18.3792 7.3125 16.8375 6.7875C15.2958 6.2625 13.6833 6 12 6C10.3167 6 8.70417 6.2625 7.1625 6.7875C5.62083 7.3125 4.2 8.06667 2.9 9.05L5.8 11.95Z" fill="#272454" />
                          </g>
                        </svg>
                      </span>
                      <h4 class="text-info">অনলাইন কোর্স ফি</h4>
                    </div>
                    <div class="d-flex flex-row gap-2">
                      <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z" fill="#272454"></path>
                        </svg>
                      </span>
                      <h4 class="text-info fw-semibold" id="online-coursediscountfee-mobile">৬,৯৯৯</h4>
                      <p class="mb-0 mt-1 text-decoration-line-through text-info fs-6" id="online-courseactualfee-mobile">
                        ৯,০০০
                      </p>
                    </div>
                  </div>
                  <div>
                    <a class="btn btn-primary rounded" href="#" role="button" data-bs-toggle="modal" data-bs-target="#registrationModal">কোর্সে ভর্তি হোন</a>
                  </div>
                </div>
                <hr>
                <div class="accordion accordion-flush border rounded my-3" id="courseAccordion">
                  <div class="accordion border d-block">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h6 class="text-info text-center mb-0">
                          আরো ১ টি দেখুন
                        </h6>
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#courseAccordion">
                      <div class="accordion-body">
                        <div class="d-flex gap-2 pt-3 justify-content-between">
                          <div>
                            <div class="d-flex flex-row gap-2">
                              <span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <mask id="mask0_382_1487" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                  </mask>
                                  <g mask="url(#mask0_382_1487)">
                                    <path d="M12 21L0 9C1.6 7.36667 3.43333 6.125 5.5 5.275C7.56667 4.425 9.73333 4 12 4C14.2833 4 16.4583 4.425 18.525 5.275C20.5917 6.125 22.4167 7.36667 24 9L12 21ZM5.8 11.95C6.68333 11.3167 7.65 10.8208 8.7 10.4625C9.75 10.1042 10.85 9.925 12 9.925C13.15 9.925 14.25 10.1042 15.3 10.4625C16.35 10.8208 17.3167 11.3167 18.2 11.95L21.1 9.05C19.8 8.06667 18.3792 7.3125 16.8375 6.7875C15.2958 6.2625 13.6833 6 12 6C10.3167 6 8.70417 6.2625 7.1625 6.7875C5.62083 7.3125 4.2 8.06667 2.9 9.05L5.8 11.95Z" fill="#272454" />
                                  </g>
                                </svg>
                              </span>
                              <h4 class="text-info">অফলাইন কোর্স ফি</h4>
                            </div>
                            <div class="d-flex flex-row gap-2">
                              <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z" fill="#272454"></path>
                                </svg>
                              </span>
                              <h4 class="text-info fw-semibold" id="offline-coursediscountfee-mobile">৬,৯৯৯</h4>
                              <p class="mb-0 mt-1 text-decoration-line-through text-info fs-6" id="offline-courseactualfee-mobile">
                                ৯,০০০
                              </p>
                            </div>
                          </div>
                          <div>
                            <a class="btn btn-primary rounded" href="#" role="button" data-bs-toggle="modal" data-bs-target="#registrationModal">ভর্তি হোন</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap gap-3 py-3">
                  <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                    <div class="d-flex gap-2 align-items-center">
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.1041 14.8207C17.721 14.8207 18.2116 14.4325 18.6522 13.8897C19.5541 12.7785 18.0733 11.8905 17.5086 11.4557C16.9345 11.0136 16.2935 10.7631 15.6436 10.7043M14.8203 9.05779C15.957 9.05779 16.8785 8.1363 16.8785 6.9996C16.8785 5.86289 15.957 4.94141 14.8203 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                          <path d="M2.6568 14.8207C2.03992 14.8207 1.54925 14.4325 1.1087 13.8897C0.206833 12.7785 1.68756 11.8905 2.25231 11.4557C2.8264 11.0136 3.46741 10.7631 4.11732 10.7043M4.52896 9.05779C3.39225 9.05779 2.47077 8.1363 2.47077 6.9996C2.47077 5.86289 3.39225 4.94141 4.52896 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                          <path d="M6.65452 12.4422C5.81332 12.9623 3.60773 14.0244 4.95108 15.3534C5.6073 16.0027 6.33815 16.467 7.25702 16.467H12.5003C13.4191 16.467 14.15 16.0027 14.8062 15.3534C16.1495 14.0244 13.944 12.9623 13.1027 12.4422C11.1301 11.2224 8.62717 11.2224 6.65452 12.4422Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                          <path d="M12.7629 6.17443C12.7629 7.76583 11.4729 9.0559 9.88147 9.0559C8.29007 9.0559 7 7.76583 7 6.17443C7 4.58304 8.29007 3.29297 9.88147 3.29297C11.4729 3.29297 12.7629 4.58304 12.7629 6.17443Z" stroke="#272454" stroke-width="1.23491" />
                        </svg>
                      </span>
                      <p class="mb-0 text-info-emphasis" id="seatleft-mobile"></p>
                    </div>
                  </div>
                  <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                    <div class="d-flex gap-2 align-items-center">
                      <span>
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.297 13.2438C12.1293 14.4648 10.8925 16.9948 10.4995 17.7021V6.58789C10.8408 5.9737 11.8184 4.21395 13.4894 3.01791C14.1934 2.51405 14.5453 2.26212 14.9923 2.49183C15.4392 2.72155 15.4392 3.22862 15.4392 4.24276V11.5205C15.4392 12.0683 15.4392 12.3422 15.3267 12.5347C15.2142 12.7271 14.9085 12.8994 14.297 13.2438Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                          <path d="M10.5018 6.42451C9.93629 5.8305 8.29686 4.4197 5.54614 3.92506C4.15262 3.67448 3.45585 3.54918 2.86244 4.02941C2.26904 4.50965 2.26904 5.28948 2.26904 6.84913V12.4543C2.26904 13.8804 2.26904 14.5934 2.64989 15.0386C3.03074 15.4838 3.8692 15.6345 5.54614 15.9361C7.04102 16.2049 8.20769 16.6332 9.05218 17.0637C9.88303 17.4871 10.2985 17.6988 10.5018 17.6988C10.7052 17.6988 11.1206 17.4871 11.9514 17.0637C12.7959 16.6332 13.9626 16.2049 15.4574 15.9361C17.1344 15.6345 17.9729 15.4838 18.3537 15.0386C18.7346 14.5934 18.7346 13.8804 18.7346 12.4543V6.84913C18.7346 5.28948 18.7346 4.50965 18.1411 4.02941C17.5477 3.54918 16.2647 3.92506 15.4415 4.5264" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </span>
                      <p class="mb-0 text-info-emphasis" id="totalclass-mobile">৩৪ টি ক্লাস</p>
                    </div>
                  </div>
                  <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                    <div class="d-flex gap-2 align-items-center">
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M10.1224 18.114C14.6692 18.114 18.3552 14.428 18.3552 9.8812C18.3552 5.33437 14.6692 1.64844 10.1224 1.64844C5.57558 1.64844 1.88965 5.33437 1.88965 9.8812C1.88965 14.428 5.57558 18.114 10.1224 18.114Z" stroke="#272454" stroke-width="1.23491" />
                          <path d="M10.124 6.58594V9.87904L11.7706 11.5256" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </span>
                      <p class="mb-0 text-info-emphasis" id="dayleft-mobile">৫ দিন বাকি</p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="py-3">
                  <h4 class="text-info">এই কোর্সে আপনি পাচ্ছেন</h4>
                  <div id="course-features-mobile"></div>
                </div>
                <hr>
                <div class="d-flex gap-2 justify-content-center mx-auto py-2">
                  <span>
                    <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.03174 10.8674C13.0208 14.8554 13.9258 10.2417 16.4656 12.7798C18.9143 15.2278 20.3216 15.7182 17.2192 18.8197C16.8306 19.132 14.3616 22.8893 5.6846 14.2147C-2.99348 5.53902 0.761585 3.06746 1.07397 2.67897C4.18387 -0.431135 4.66586 0.984402 7.11449 3.43235C9.65436 5.97152 5.04266 6.87943 9.03174 10.8674Z" fill="#C1152E" />
                    </svg>
                  </span>
                  <p class="text-info mb-0">কল করুন +৮৮০১৭৯০-৩১৩৩৬৬</p>
                </div>
              </div>
            </div>
          </div>
          <h4 class="text-info fw-semibold pt-5">ক্লাস নেবেন যারা</h4>
          <div class="d-flex flex-wrap gap-3 border rounded px-2 py-3 mb-5" id="course-instructors">
          </div>
          <div class="d-flex gap-3 flex-wrap">
            <h6 class="fw-normal h5">
              <a class="nav-link text-info active" href="#স্টাডিপ্ল্যান">স্টাডি প্ল্যান</a>
            </h6>
            <h6 class="fw-normal text-info h5">
              <a class="nav-link text-info" href="#যাযাথাকছে">যা যা থাকছে</a>
            </h6>
            <h6 class="fw-normal text-info h5">
              <a class="nav-link text-info" href="#সেবাসমূহ">রেভিউ</a>
            </h6>
            <h6 class="fw-normal text-info h5">
              <a class="nav-link text-info" href="#সার্টিফিকেট">সার্টিফিকেট</a>
            </h6>
            <h6 class="fw-normal text-info h5">
              <a class="nav-link text-info" href="#পেমেন্ট">পেমেন্ট</a>
            </h6>
          </div>
          <hr />
          <div class="p-3 rounded-2 d-flex flex-row gap-2 py-3">
            <h4 class="text-info fw-semibold" id="স্টাডিপ্ল্যান">স্টাডি প্ল্যান</h4>
            <p class="text-info mb-0" id="module-length">৫</p>
          </div>
          <div class="accordion" id="courseModuleAccordion">
          </div>
          <button class="btn btn-outline-danger text-center w-100 mx-auto mt-3 d-none" id="loadMoreBtn">আরো দেখুন</button>
          <button class="btn btn-outline-danger text-center w-100 mx-auto mt-3 d-none" id="showLessBtn">কমিয়ে দেখুন</button>
          <h4 id="যাযাথাকছে" class="text-info fw-semibold pt-5">যা যা থাকছে</h4>
          <ul class="list-group list-group-pad">
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Pronunciation</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Public Speaking</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Interactive Listening</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Interactive vocabulary</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Basic Phonetics</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Communicative Grammar</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Intensive Reading</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Freehand Writing</h5>
            </li>
          </ul>
          <h4 id="সেবাসমূহ" class="text-info fw-semibold pt-5">সেবা সমূহ</h4>
          <ul class="list-group list-group-pad">
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Free Course Materials</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Up to one-year membership</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Regular Assessments</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Language Club</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Friday & Saturday Classes available</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Digital & Air-Conditioned Classes</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Expert & Experienced Tutor Panel</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Course Based Tips & Tricks</h5>
            </li>
            <li class="list-group-item d-flex align-items-center border-0">
              <span>
                <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3327 16.4998C12.166 16.4998 11.9993 16.4332 11.866 16.2998L8.86602 13.2998C8.59935 13.0332 8.59935 12.6332 8.86602 12.3665C9.13268 12.0998 9.53268 12.0998 9.79935 12.3665L12.3327 14.8998L16.866 10.3665C17.1327 10.0998 17.5327 10.0998 17.7993 10.3665C18.066 10.6332 18.066 11.0332 17.7993 11.2998L12.7993 16.2998C12.666 16.4332 12.4993 16.4998 12.3327 16.4998Z" fill="#C1152E"></path>
                  <path d="M21.333 23.3333H5.33301C4.23301 23.3333 3.33301 22.4333 3.33301 21.3333V5.33325C3.33301 4.23325 4.23301 3.33325 5.33301 3.33325H21.333C22.433 3.33325 23.333 4.23325 23.333 5.33325V21.3333C23.333 22.4333 22.433 23.3333 21.333 23.3333ZM5.33301 4.66659C4.96634 4.66659 4.66634 4.96659 4.66634 5.33325V21.3333C4.66634 21.6999 4.96634 21.9999 5.33301 21.9999H21.333C21.6997 21.9999 21.9997 21.6999 21.9997 21.3333V5.33325C21.9997 4.96659 21.6997 4.66659 21.333 4.66659H5.33301Z" fill="#C1152E"></path>
                  <path d="M26.666 28.6667H9.33268C8.96602 28.6667 8.66602 28.3667 8.66602 28C8.66602 27.6333 8.96602 27.3333 9.33268 27.3333H26.666C27.0327 27.3333 27.3327 27.0333 27.3327 26.6667V6.66667C27.3327 6.3 27.6327 6 27.9993 6C28.366 6 28.666 6.3 28.666 6.66667V26.6667C28.666 27.7667 27.766 28.6667 26.666 28.6667Z" fill="#C1152E"></path>
                </svg>
              </span>
              <h5 class="ps-3 text-info mb-0">Certificate of Completion</h5>
            </li>
          </ul>
          <div id="course-description" class="pt-5"></div>
          <img class="img-fluid" src="/assets/images/courses/certificate.png" alt="certificate" />
        </div>
        <div class="col-md-4 pt-md-5 d-md-block d-none">
          <div id="course-video"></div>
          <div class="card rounded-4 mt-4 sticky-top" style="top:100px !important">
            <div class="card-body">
              <div class="d-flex gap-2 pt-3 justify-content-between">
                <div>
                  <div class="d-flex flex-row gap-2">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_382_1487" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                          <rect width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_382_1487)">
                          <path d="M12 21L0 9C1.6 7.36667 3.43333 6.125 5.5 5.275C7.56667 4.425 9.73333 4 12 4C14.2833 4 16.4583 4.425 18.525 5.275C20.5917 6.125 22.4167 7.36667 24 9L12 21ZM5.8 11.95C6.68333 11.3167 7.65 10.8208 8.7 10.4625C9.75 10.1042 10.85 9.925 12 9.925C13.15 9.925 14.25 10.1042 15.3 10.4625C16.35 10.8208 17.3167 11.3167 18.2 11.95L21.1 9.05C19.8 8.06667 18.3792 7.3125 16.8375 6.7875C15.2958 6.2625 13.6833 6 12 6C10.3167 6 8.70417 6.2625 7.1625 6.7875C5.62083 7.3125 4.2 8.06667 2.9 9.05L5.8 11.95Z" fill="#272454" />
                        </g>
                      </svg>
                    </span>
                    <h6 class="text-info">অনলাইন কোর্স ফি</h6>
                  </div>
                  <div class="d-flex flex-row gap-2">
                    <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z" fill="#272454"></path>
                      </svg>
                    </span>
                    <h5 class="text-info fw-semibold" id="online-coursediscountfee">৬,৯৯৯</h5>
                    <p class="mb-0 mt-1 text-decoration-line-through text-info fs-6" id="online-courseactualfee">
                      ৯,০০০
                    </p>
                  </div>
                </div>
                <div>
                  <a class="btn btn-primary rounded" href="#" role="button" data-bs-toggle="modal" data-bs-target="#registrationModal">কোর্সে ভর্তি হোন</a>
                </div>
              </div>
              <hr>
              <div class="accordion accordion-flush border rounded my-3" id="courseAccordion">
                <div class="accordion border d-block">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <h6 class="text-info text-center mb-0">
                        আরো ১ টি দেখুন
                      </h6>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#courseAccordion">
                    <div class="accordion-body">
                      <div class="d-flex gap-2 pt-3 justify-content-between">
                        <div>
                          <div class="d-flex flex-row gap-2">
                            <span>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_382_1487" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                  <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_382_1487)">
                                  <path d="M12 21L0 9C1.6 7.36667 3.43333 6.125 5.5 5.275C7.56667 4.425 9.73333 4 12 4C14.2833 4 16.4583 4.425 18.525 5.275C20.5917 6.125 22.4167 7.36667 24 9L12 21ZM5.8 11.95C6.68333 11.3167 7.65 10.8208 8.7 10.4625C9.75 10.1042 10.85 9.925 12 9.925C13.15 9.925 14.25 10.1042 15.3 10.4625C16.35 10.8208 17.3167 11.3167 18.2 11.95L21.1 9.05C19.8 8.06667 18.3792 7.3125 16.8375 6.7875C15.2958 6.2625 13.6833 6 12 6C10.3167 6 8.70417 6.2625 7.1625 6.7875C5.62083 7.3125 4.2 8.06667 2.9 9.05L5.8 11.95Z" fill="#272454" />
                                </g>
                              </svg>
                            </span>
                            <h6 class="text-info">অফলাইন কোর্স ফি</h6>
                          </div>
                          <div class="d-flex flex-row gap-2">
                            <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z" fill="#272454"></path>
                              </svg>
                            </span>
                            <h5 class="text-info fw-semibold" id="offline-coursediscountfee">৬,৯৯৯</h5>
                            <p class="mb-0 mt-1 text-decoration-line-through text-info fs-6" id="offline-courseactualfee">
                              ৯,০০০
                            </p>
                          </div>
                        </div>
                        <div>
                          <a class="btn btn-primary rounded" href="#" role="button" data-bs-toggle="modal" data-bs-target="#registrationModal">ভর্তি হোন</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex flex-row flex-wrap gap-2 py-3">
                <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.1041 14.8207C17.721 14.8207 18.2116 14.4325 18.6522 13.8897C19.5541 12.7785 18.0733 11.8905 17.5086 11.4557C16.9345 11.0136 16.2935 10.7631 15.6436 10.7043M14.8203 9.05779C15.957 9.05779 16.8785 8.1363 16.8785 6.9996C16.8785 5.86289 15.957 4.94141 14.8203 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                        <path d="M2.6568 14.8207C2.03992 14.8207 1.54925 14.4325 1.1087 13.8897C0.206833 12.7785 1.68756 11.8905 2.25231 11.4557C2.8264 11.0136 3.46741 10.7631 4.11732 10.7043M4.52896 9.05779C3.39225 9.05779 2.47077 8.1363 2.47077 6.9996C2.47077 5.86289 3.39225 4.94141 4.52896 4.94141" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" />
                        <path d="M6.65452 12.4422C5.81332 12.9623 3.60773 14.0244 4.95108 15.3534C5.6073 16.0027 6.33815 16.467 7.25702 16.467H12.5003C13.4191 16.467 14.15 16.0027 14.8062 15.3534C16.1495 14.0244 13.944 12.9623 13.1027 12.4422C11.1301 11.2224 8.62717 11.2224 6.65452 12.4422Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12.7629 6.17443C12.7629 7.76583 11.4729 9.0559 9.88147 9.0559C8.29007 9.0559 7 7.76583 7 6.17443C7 4.58304 8.29007 3.29297 9.88147 3.29297C11.4729 3.29297 12.7629 4.58304 12.7629 6.17443Z" stroke="#272454" stroke-width="1.23491" />
                      </svg>
                    </span>
                    <p class="mb-0 text-info-emphasis small" id="seatleft">৩২ টি সিট বাকি</p>
                  </div>
                </div>
                <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.297 13.2438C12.1293 14.4648 10.8925 16.9948 10.4995 17.7021V6.58789C10.8408 5.9737 11.8184 4.21395 13.4894 3.01791C14.1934 2.51405 14.5453 2.26212 14.9923 2.49183C15.4392 2.72155 15.4392 3.22862 15.4392 4.24276V11.5205C15.4392 12.0683 15.4392 12.3422 15.3267 12.5347C15.2142 12.7271 14.9085 12.8994 14.297 13.2438Z" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.5018 6.42451C9.93629 5.8305 8.29686 4.4197 5.54614 3.92506C4.15262 3.67448 3.45585 3.54918 2.86244 4.02941C2.26904 4.50965 2.26904 5.28948 2.26904 6.84913V12.4543C2.26904 13.8804 2.26904 14.5934 2.64989 15.0386C3.03074 15.4838 3.8692 15.6345 5.54614 15.9361C7.04102 16.2049 8.20769 16.6332 9.05218 17.0637C9.88303 17.4871 10.2985 17.6988 10.5018 17.6988C10.7052 17.6988 11.1206 17.4871 11.9514 17.0637C12.7959 16.6332 13.9626 16.2049 15.4574 15.9361C17.1344 15.6345 17.9729 15.4838 18.3537 15.0386C18.7346 14.5934 18.7346 13.8804 18.7346 12.4543V6.84913C18.7346 5.28948 18.7346 4.50965 18.1411 4.02941C17.5477 3.54918 16.2647 3.92506 15.4415 4.5264" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                    <p class="mb-0 text-info-emphasis small" id="totalclass">৩৪ টি ক্লাস</p>
                  </div>
                </div>
                <div class="d-flex gap-3 justify-content-between p-1 bg-primary-subtle rounded">
                  <div class="d-flex gap-2 align-items-center">
                    <span>
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1224 18.114C14.6692 18.114 18.3552 14.428 18.3552 9.8812C18.3552 5.33437 14.6692 1.64844 10.1224 1.64844C5.57558 1.64844 1.88965 5.33437 1.88965 9.8812C1.88965 14.428 5.57558 18.114 10.1224 18.114Z" stroke="#272454" stroke-width="1.23491" />
                        <path d="M10.124 6.58594V9.87904L11.7706 11.5256" stroke="#272454" stroke-width="1.23491" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                    <p class="mb-0 text-info-emphasis small" id="dayleft">৫ দিন বাকি</p>
                  </div>
                </div>
              </div>
              <hr>
              <div class="py-3">
                <h4 class="text-info">এই কোর্সে আপনি পাচ্ছেন</h4>
                <div id="course-features"></div>
              </div>
              <hr>
              <div class="d-flex gap-2 justify-content-center mx-auto py-2">
                <span>
                  <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.03174 10.8674C13.0208 14.8554 13.9258 10.2417 16.4656 12.7798C18.9143 15.2278 20.3216 15.7182 17.2192 18.8197C16.8306 19.132 14.3616 22.8893 5.6846 14.2147C-2.99348 5.53902 0.761585 3.06746 1.07397 2.67897C4.18387 -0.431135 4.66586 0.984402 7.11449 3.43235C9.65436 5.97152 5.04266 6.87943 9.03174 10.8674Z" fill="#C1152E" />
                  </svg>
                </span>
                <p class="text-info mb-0">কল করুন +৮৮০১৭৯০-৩১৩৩৬৬</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') -%> <%- include("/_components/scripts")
    -%>
  <script>
    function convertToBanglaNumber(number) {
      const banglaNumbers = ["০", "১", "২", "৩", "৪", "৫", "৬", "৭", "৮", "৯"];
      const englishNumberString = number.toString();
      let banglaNumberString = "";
      for (let i = 0; i < englishNumberString.length; i++) {
        const digit = parseInt(englishNumberString[i]);
        banglaNumberString += banglaNumbers[digit];
      }
      return banglaNumberString;
    }

    const getDateDifferenceInDays = (startDateISO) => {
      const currentDate = new Date();
      currentDate.setHours(currentDate.getHours() + 6);
      const startDate = new Date(startDateISO);
      const differenceInDays = Math.ceil((startDate - currentDate) / (1000 * 60 * 60 * 24));
      if (differenceInDays == 0) {
        return 0
      } else {
        return differenceInDays;
      }
    };

    var coursesJson = <%- JSON.stringify(db.courses) %>;
    var instructorJson = <%- JSON.stringify(db.instructors) %>;

    const urlParams = new URLSearchParams(window.location.search);
    const courseLink = urlParams.get('courseLink');
    const course = coursesJson.find(course => course.courseLink === courseLink);
    const instructorIds = course.instructorIds.map(idObj => idObj.id);
    const matchingInstructors = instructorJson.filter(instructor => instructorIds.includes(instructor.id));

    const courseTitleContainer = document.getElementById('course-title');
    const coursetaglineContainer = document.getElementById('course-tagline');
    const courseTag = document.getElementById("course-tag");
    const courseModule = document.getElementById("courseModuleAccordion")
    const moduleLength = document.getElementById("module-length")
    const courseVideo = document.getElementById("course-video")
    const courseInstructorContainer = document.getElementById('course-instructors');
    const courseVideoMobile = document.getElementById("course-video-mobile")
    const courseDescription = document.getElementById("course-description")
    const courseFeatures = document.getElementById("course-features")
    const courseFeaturesMobile = document.getElementById("course-features-mobile")
    const onlineDiscountFeeMobile = document.getElementById("online-coursediscountfee-mobile")
    const onlineActualFeeMobile = document.getElementById("online-courseactualfee-mobile")
    const offlineDiscountFeeMobile = document.getElementById("offline-coursediscountfee-mobile")
    const offlineActualFeeMobile = document.getElementById("offline-courseactualfee-mobile")
    const onlineDiscountFee = document.getElementById("online-coursediscountfee")
    const onlineActualFee = document.getElementById("online-courseactualfee")
    const offlineDiscountFee = document.getElementById("offline-coursediscountfee")
    const offlineActualFee = document.getElementById("offline-courseactualfee")
    const seatLeftMobile = document.getElementById("seatleft-mobile")
    const seatLeft = document.getElementById("seatleft")
    const totalClassMobile = document.getElementById("totalclass-mobile")
    const totalClass = document.getElementById("totalclass")
    const dayLeftMobile = document.getElementById("dayleft-mobile")
    const dayLeft = document.getElementById("dayleft")

    if (course) {
      if (coursetaglineContainer && courseTitleContainer) {
        document.title = `${course.courseTitle} | Bhasha Skool`;
        const dateFormat = getDateDifferenceInDays(course.courseStartDate)

        courseTitleContainer.innerHTML = course.courseTitle;
        coursetaglineContainer.innerHTML = course.courseTagLine;
        courseVideo.innerHTML = course.courseVideo.replaceAll('<iframe', '<iframe class="w-100 rounded" height="250"')
        courseVideoMobile.innerHTML = course.courseVideo.replaceAll('<iframe', '<iframe class="w-100 rounded" height="250"')

        offlineActualFeeMobile.innerHTML = course.courseActualPrice
        offlineDiscountFeeMobile.innerHTML = course.courseDiscountPrice
        offlineActualFee.innerHTML = course.courseActualPrice
        offlineDiscountFee.innerHTML = course.courseDiscountPrice

        onlineActualFeeMobile.innerHTML = course.courseOnlineActualPrice
        onlineDiscountFeeMobile.innerHTML = course.courseOnlineDiscountPrice
        onlineActualFee.innerHTML = course.courseOnlineActualPrice
        onlineDiscountFee.innerHTML = course.courseOnlineDiscountPrice
        seatLeftMobile.innerHTML = `${course.courseSeatleft} টি সিট বাকি`
        seatLeft.innerHTML = `${course.courseSeatleft} টি সিট বাকি`
        totalClass.innerHTML = `${course.courseTotalClass} টি ক্লাস`
        totalClassMobile.innerHTML = `${course.courseTotalClass} টি ক্লাস`
        dayLeftMobile.innerHTML = `${convertToBanglaNumber(dateFormat)} দিন বাকি`
        dayLeft.innerHTML = `${convertToBanglaNumber(dateFormat)} দিন বাকি`

        courseDescription.innerHTML = course.courseDescription.replaceAll('<strong>', '<strong class="text-info fw-semibold pt-5">').replaceAll('<p>', '<p class="text-info fs-5">').replaceAll('<li>', '<li class="text-info fs-5">')
        courseFeatures.innerHTML = course.courseFeatures.replaceAll('<li>', '<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2">').replaceAll('<ul>', '<ul class="list-unstyled">').replaceAll('<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2">', '<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2"><span><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.341 2.18035C9.68817 1.97529 8.9934 1.86475 8.27285 1.86475C4.46543 1.86475 1.37891 4.95127 1.37891 8.75868C1.37891 12.5661 4.46543 15.6526 8.27285 15.6526C12.0802 15.6526 15.1668 12.5661 15.1668 8.75868C15.1668 8.03813 15.0562 7.34339 14.8512 6.6905" stroke="#272454" stroke-width="1.10795" stroke-linecap="round"></path><path d="M5.85938 7.03331L8.27225 9.44618L14.4769 2.55225" stroke="#272454" stroke-width="1.10795" stroke-linecap="round" stroke-linejoin="round"></path></svg></span>')
        courseFeaturesMobile.innerHTML = course.courseFeatures.replaceAll('<li>', '<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2">').replaceAll('<ul>', '<ul class="list-unstyled">').replaceAll('<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2">', '<li class="mb-0 text-info-emphasis d-flex gap-2 align-items-center my-2"><span><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.341 2.18035C9.68817 1.97529 8.9934 1.86475 8.27285 1.86475C4.46543 1.86475 1.37891 4.95127 1.37891 8.75868C1.37891 12.5661 4.46543 15.6526 8.27285 15.6526C12.0802 15.6526 15.1668 12.5661 15.1668 8.75868C15.1668 8.03813 15.0562 7.34339 14.8512 6.6905" stroke="#272454" stroke-width="1.10795" stroke-linecap="round"></path><path d="M5.85938 7.03331L8.27225 9.44618L14.4769 2.55225" stroke="#272454" stroke-width="1.10795" stroke-linecap="round" stroke-linejoin="round"></path></svg></span>')
        courseTag.innerHTML = course.courseTags.map(c =>
          `<div class="bg-primary-subtle p-2 rounded">
              <p class="mb-0 text-info">${c.name}</p>
            </div>
        `).join(' ')
        courseModule.innerHTML = course.courseModules.map(c =>
          `<div class="accordion-item border my-3">
              <h2 class="accordion-header">
                <button class="accordion-button h5 ${c.id === 1 ? "" : "collapsed" }" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${c.id}" aria-expanded="true" aria-controls="collapse${c.id}">
                  <h5 class="${c.id % 2 === 0 ? "bg-info" : "bg-danger" } p-2 text-center rounded text-white">মডিউল <br>${convertToBanglaNumber(c.id)}</h5>
                  <h5 class="text-info ps-3">${c.moduleName}</h5>
                </button>
              </h2>
              <div id="collapse${c.id}" class="accordion-collapse collapse ${c.id === 1 ? "show" : "" }" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="text-info list-unstyled">                    
                  ${c.lessons.map(l => `<li>${l.name}</li>`).join(' ')}                      
                  </ul>                  
                </div>
              </div>
            </div>
          `).join(' ')
      }
      moduleLength.innerHTML = `${convertToBanglaNumber(course.courseModules.length)} টি মডিউল`
      courseInstructorContainer.innerHTML = matchingInstructors.map(i =>
        `<div class="d-flex gap-2">
            <img src="/${i.imgSrc}" class="img-fluid" height="100" width="100" alt="${i.instructorName}" />
              <div>
                <h5 class="text-dark">${i.instructorName}</h5>                
                  ${i.instructorQualifications.replaceAll('<p>','<p class="text-dark mb-0">')}               
              </div>
        </div>`).join(' ')
    } else {
      courseTitleContainer.innerHTML = 'Course not found';
    }

    document.addEventListener("DOMContentLoaded", function() {
      const accordionItems = document.querySelectorAll(".accordion-item");
      const loadMoreBtn = document.getElementById("loadMoreBtn");
      const showLessBtn = document.getElementById("showLessBtn");
      accordionItems.forEach(function(item, index) {
        if (index >= 4) {
          item.style.display = "none";
          showLessBtn.classList.add('d-none')
        }
      });
      loadMoreBtn.addEventListener("click", function() {
        accordionItems.forEach(function(item, index) {
          if (index >= 4 && index < 6) {
            item.classList.add("d-block");
            item.classList.remove("d-none");
          }
        });
        loadMoreBtn.classList.remove('d-block')
        loadMoreBtn.classList.add("d-none")
        showLessBtn.classList.add("d-block")
        showLessBtn.classList.remove("d-none")
      });

      showLessBtn.addEventListener("click", function() {
        accordionItems.forEach(function(item, index) {
          if (index >= 4) {
            item.classList.add("d-none");
            item.classList.remove("d-block");
          }
        });
        loadMoreBtn.classList.remove("d-none")
        loadMoreBtn.classList.add("d-block")
        showLessBtn.classList.add("d-none")
        showLessBtn.classList.remove("d-block")
      });
    });
  </script>
</body>

</html>